x-send-transaction-offline-modal,
x-send-prepared-transaction-modal {
    max-width: 500px !important;
    text-align: center;
}

x-send-transaction-offline-modal p,
x-send-prepared-transaction-modal p {
    margin-bottom: 1em;
}

x-send-transaction-offline-modal textarea,
x-send-prepared-transaction-modal textarea {
    width: 100%;
    min-height: 225px;
    background: var(--nimiq-gray);
    padding: 0.5em;
    border-radius: 3px;
    margin-bottom: 1em;
}

x-send-transaction-offline-modal button,
x-send-prepared-transaction-modal button {
    margin-bottom: 0 !important;
}
