@import '/library/nimiq-style/nimiq-style.css';
@import '../x-toast/x-toast.css';

x-address {
    min-width: 340px;
    width: 100%;
    font-size: 13px;
    font-weight: 800;
    -webkit-user-select: text;
    user-select: all;
    white-space: nowrap;
    max-width: 400px;
    cursor: pointer;
}

@media (max-width: 375px) {
    x-address {
        font-size: 12px;
    }
}

@media (max-width: 340px) {
    x-address {
        font-size: 11px;
    }
}