@import '/library/nimiq-style/nimiq-style.css';
@import '../x-toast/x-toast.css';

.x-address{
    width: 100%;
    min-width: 320px;
    max-width: 400px;
    box-sizing: border-box;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 800;
    white-space: nowrap;
}

@media (max-width: 375px) {
    .x-address {
        font-size: 12px;
        padding: 8px 4px;
    }
}

@media (max-width: 340px) {
    .x-address {
        font-size: 11px;
    }
}

x-address {
    cursor: pointer;
    border-radius: 3px;
}

x-address:hover{
    background: rgba(0, 0, 0, 0.2);
}
