@import '../x-input/x-input.css';

x-password-input form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20px;
}

x-password-input form input {
    padding-right: 40px;
}

x-password-input form #eye {
    position: relative;
    right: 40px;
}
