@import "/library/nimiq-style/nimiq-style.css";
@import "../x-pages/x-pages.css";
@import '../x-toast/x-toast.css';
@import '../x-address-input/x-address-input.css';
@import '../x-address-file-input/x-address-file-input.css';
@import "../x-address-scanner/x-address-scanner.css";

x-address-pages,
x-address-pages > x-pages {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

x-address-pages > x-pages > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

x-address-intro-page,
x-address-fallback-page{
    padding: 32px 16px 64px;
}


x-address-intro-page > [background] {
    background-image: url('/elements/x-address-pages/address-scanner-intro.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    animation: from-bottom 1.5s;
    top: 128px;
    bottom: -42px;
    width:  100%;
}

x-address-intro-page > button,
x-address-intro-page > a[secondary] {
    animation: fade 0.7s 1.5s both;
}


x-address-intro-page > :not([background]) {
    z-index: 1;
}

/* Hide address-input if not focused */
x-address-scanner-page x-address-input input:not(:focus) {
    opacity: 0;
    cursor: pointer;
}

x-address-scanner-page x-address-input.x-address{
    max-width: 100%;
}



x-address-fallback-page a[secondary] {
    animation: from-bottom 1s;
}
