@import "x-modals.css";
@import "x-modal-container.css";

.x-modal {
    background: white;
    color: rgba(0,0,0,0.8);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
        0 1px 8px 0 rgba(0, 0, 0, 0.12),
        0 3px 3px -2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin: auto;

    max-width: 97%; /* Could also use 97vw */
}

.modal-header {
    padding: 16px 0;
    text-align: center;
    position: relative;
}

.modal-header h2 {
    padding: 2px 46px;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    font-size: 13px;
    font-weight: bold;
}

.modal-header x-popup-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 12px);
    margin: 6px 6px 2px 6px;
}

.modal-header [x-modal-close] {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 6px;
}

.modal-header [x-modal-close]:hover {
    background: rgba(0, 0, 0, 0.1);
}

.x-modal.pending .modal-header::after {
    content: "";
    height: 3px;
    background: var(--primary-background-progress);
    background-size: 200%;
    display: block;
    margin-top: 16px;
    animation: background-progress 2s linear infinite;
}

@keyframes background-progress {
    0%  { background-position: 0% 0 }
    100%{ background-position: 200% 0 }
}

.modal-body {
    padding: 16px 32px 24px;
    position: relative; /* Required for absolute positioning of account icon */
    background: #fafafa;
    box-shadow: 0 2px 5px -3px rgba(0,0,0,.125);
}

@media (max-width: 480px) {
    .modal-body {
        padding: 16px 16px 24px;
    }
}
