noscript {
    font-size: 32px;
}

body[browser-unsupported] {
    display: flex;
    align-items: center;
    justify-content: center;
}

body[browser-unsupported]::after {
    content: 'Please update your browser.';
    font-size: 32px;
}

body[browser-unsupported] > * {
    display: none !important;
}

@media (max-height: 650px) {
    body * {
        display: none;
    }

    body:after {
        white-space: pre;
        content: "You're screen is too small. \a Please zoom out. \a\a Use \2318  and [-] on Mac, \a [Ctrl] and [-] on Windows/Linux, \a or [Ctrl] and scroll.";
    }
}
