noscript {
    font-size: 32px;
}

body[browser-outdated],
body[browser-edge] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(30deg, #3023AE, #9C58CB);
    height: 100vh;
    max-height: 100%;
    font-size: 32px;
}

body[browser-outdated] > *,
body[browser-edge] > * {
    display: none !important;
}

body[browser-outdated]::after {
    content: 'Please update your browser.';
}

body[browser-edge]::after {
    content: 'Edge is currently not supported.';
}
