<noscript>
    Please enable Javascript.
    <style>
        body > :not(noscript) {display: none !important;}
    </style>
</noscript>
<!-- @asset(/elements/browser-warning/browser-warning.js) -->
<script type="text/javascript" src="/elements/browser-warning/browser-warning.js" async></script>