@import '../../secure-elements/x-input/x-input.css';
@import '../x-numpad/x-numpad.css';

x-amount-input input {
    font-size: 3.5em !important;
    font-weight: 300;
    padding-bottom: 0;
    width: 100% !important;
}

x-amount-input input::placeholder {
    font-size: 1em !important;
}

x-amount-input input + .ticker {
    display: block;
    position: absolute;
    right: 0.35em;
    bottom: 0.8em;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    letter-spacing: 0.08em;
    opacity: 0.4;
}

x-amount-input input:focus + .ticker {
    opacity: 1;
}

@media (min-width: 420px) {
    x-amount-input x-numpad {
        display: none;
    }
}

x-amount-input input[disabled] {
    opacity: 1;
    cursor: default;
}

x-amount-input form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

x-amount-input x-currency-nim {
    display: block;
    position: relative;
}
