x-mnemonic-validate {
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 32px;
}

x-mnemonic-validate p,
x-mnemonic-validate x-target-index {
    flex: 1 0 100%;
    margin: auto;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    padding: 0 1em;
    margin-bottom: 1.5em;
}

x-mnemonic-validate x-target-index {
    display: block;
    font-size: 64px;
    line-height: 32px;
    margin-bottom: 42px;
}

x-mnemonic-validate x-target-index::before {
    content: '#';
    font-size: 52px;
}

x-mnemonic-validate button {
    margin: 4px;
    transform: translate3d(0, 0, 0);
    will-change: transform;
}

x-mnemonic-validate button.correct {
    background-color: var(--success-color);
    border-color: var(--success-color);
    color: var(--secondary-text-color);
}

x-mnemonic-validate button.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    background-color: var(--error-color);
    border-color: var(--error-color);
    color: var(--secondary-text-color);
}

@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}

x-mnemonic-validate-success-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


x-wordlist{
    display: block;
    height: 180px;
}

x-mnemonic-validate x-indicator x-dot:last-child {
    display: none;
}