@import '/library/nimiq-style/nimiq-style.css';
@import '../x-success-mark/x-success-mark.css';
@import '../x-slides/x-slides.css';

x-mnemonic-validate {
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 32px;
}

x-mnemonic-validate p{
    margin-bottom: 32px;
}

x-mnemonic-validate x-target-index {
    display: block;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 42px;
    font-weight: 200;
}

x-mnemonic-validate x-target-index::before {
    content: '#';
    font-size: 52px;
}

x-mnemonic-validate button {
    margin: 4px;
    transform: translate3d(0, 0, 0);
    will-change: transform;
}

x-mnemonic-validate button.correct {
    background-color: var(--success-color);
    border-color: var(--success-color);
    color: var(--secondary-text-color);
}

x-mnemonic-validate button.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    background-color: var(--error-color);
    border-color: var(--error-color);
    color: var(--secondary-text-color);
}

x-wordlist{
    display: block;
    height: 180px;
    max-width:  368px;
    margin: 0 auto;
}

x-mnemonic-validate x-indicator x-dot:last-child {
    display: none;
}