x-slides {
    width: 100%;
    padding: 8px 5%;
    box-sizing: border-box;
    overflow-x: hidden;
}

x-slide-container {
    display: flex;
    box-sizing: border-box;
}

x-slide-container.animate {
    transition: transform 0.8s ease-in-out;
}

x-slide-container > * {     /* slides are the children of x-slide-container */
    padding: 24px 16px;
    box-sizing: border-box;
    min-height: 320px;
    flex: 1;
    width: 100%;
    max-width: 354px;
    opacity: 0;
    margin-right: 8px;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: scale(0.8);
    will-change: opacity, transform;
    user-select: none;
}

x-slide-container > *.active {
    opacity: 1;
    transform: scale(1);
}

x-indicator {
    margin: auto;
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 16px;
}

x-indicator x-dot {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 3px;
    transition: background-color 0.5s ease-in-out;
    will-change: background-color;
}

x-indicator x-dot[on] {
    background: white;
}
