@import '/elements/x-router/x-router.css';
@import '/elements/x-accounts/x-accounts.css';
@import '/elements/x-transactions/x-transactions.css';
@import '/elements/x-toast/x-toast.css';
@import '/elements/x-amount/x-amount.css';
@import '/elements/x-wallet-backup-import/x-wallet-backup-import.css';
@import '/elements/nimiq-logo/nimiq-logo.css';
@import '/elements/x-network-indicator/x-network-indicator.css';
@import '/elements/x-send-transaction/x-send-transaction-modal.css';

html, body {
    overflow-x: hidden;
    color: #212121;
    background: rgb(245, 245, 245);
    display: initial;
}

button.secondary {
    color: #212121;
}

header {
    color: white;
    width: 100%;
    background: var(--primary-background-toright);
    text-align: center;
    border-bottom: 3px solid var(--success-color);
}

.header-top {
    padding: 1em;
    overflow: auto;
}

nimiq-logo {
    display: inline;
}

.nimiq-app-name {
    float: left;
}

.secondary-links {
    float: right;
}

x-total-amount {
    display: block;
    font-size: 2.5em;
    margin: 0.5em auto 1em;
}

x-total-amount .text {
    display: block;
    font-size: 15px;
    text-transform: uppercase;
}

.header-bottom {
    overflow: auto;
    padding: 0.5em;
}

nav.main {
    float: left;
}

nav.actions {
    float: right;
}

x-view-dashboard {
    padding: 1em 0.5em;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 960px;
    align-items: flex-start;
    margin: 0 auto;
}

x-card {
    display: block;
    width: 100%;
    max-width: 960px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em auto;
    background: white;
    box-shadow: 0px 10px 20px -15px grey;
}

x-card h2 {
    margin-bottom: 0.5em;
}

footer {
    text-align: center;
    padding: 1em;
}

@media (min-width: 480px) {
    x-card {
        padding: 1.5em 2em;
    }
}
