v-send-transaction {
    box-sizing: content-box;
    text-align: center;
    position: relative;
    overflow: hidden;
    max-width: 420px !important;
    width: 100%;
}

v-send-transaction button {
    text-transform: unset;
    width: unset;
    max-width: unset;
    vertical-align: unset;
    text-align: unset;
    user-select: unset;
    box-shadow: unset;
    outline: unset;
    margin-bottom: unset;
    min-height: unset;
    letter-spacing: unset;
}

v-send-transaction button[disabled] {
    border: unset;
    pointer-events: unset;
}

v-send-transaction input {
    border: unset;
    border-radius: unset;
    outline: unset;
    background-color: unset;
    border-bottom: unset;
    padding: unset;
}

v-send-transaction .small-page {
    margin: 0 !important;
}

v-send-transaction transition {
    /* Don't render the Vue transition pseudo-element. When mounted, 'transition' is not an actual element anymore. */
    display: none;
}

v-send-transaction .qr-scanner {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: solid 0.75rem white;
    border-radius: 1rem;
    z-index: 100;
}

v-send-transaction .qr-scanner .cancel-button {
    height: unset;
    min-height: unset;
    width: unset;
    line-height: 2;
    color: var(--nimiq-blue);
    font-size: 14px;
    text-transform: unset;
    letter-spacing: unset;
    border-radius: 500px;
    padding: 0 2.5rem;
    margin-bottom: 0;
}

@media (max-width: 480px) {
    /* make qr scanner full screen */
    v-send-transaction {
        overflow: visible;
    }

    v-send-transaction .qr-scanner {
        position: fixed !important;
        border: none;
        border-radius: 0;
    }

    v-send-transaction .qr-scanner .overlay.inactive {
        display: none;
    }

    v-send-transaction .qr-scanner .access-denied-instructions {
        bottom: 11rem;
    }
}
