@import '../x-password-input/x-password-input.css';
@import '../x-password-indicator/x-password-indicator.css';

x-password-setter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: var(--max-width);
	flex-grow: 1;
}

x-password-setter div[buttons] {
	position: relative;
}

x-password-setter div[buttons] > * {
	position: absolute;
	top: 0;
}

x-password-setter [wrong][disabled] {
	background: var(--error-color);
	color: white;
}

x-password-setter:not(.wrong) [wrong] {
	display: none;
}

x-password-setter button {
	transition: opacity 300ms;
}

x-password-setter.wrong button {
	opacity: 0;
}
