@import '../x-password-input/x-password-input.css';
@import '../x-password-indicator/x-password-indicator.css';

x-password-setter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: var(--max-width);
}

 x-password-setter div[buttons] {
	 position: relative;
 }

 x-password-setter div[buttons] > * {
	 position: absolute;
	 top: 0;
 }

 x-password-setter [wrong] {
	 background: var(--error-color);
	 color: white;
     display: none;
 }

 .x-password-setter.wrong [wrong] {
     display: flex;
 }

 x-password-setter button {
	 transition: opacity 300ms;
 }

 x-password-setter.wrong button {
	 opacity: 0;
 }
