@import '/library/nimiq-style/nimiq-style.css';
@import '../x-address/x-address.css';

view-identicons {
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    padding-bottom: 16px;
}

view-identicons x-header {
    z-index: 2;
}

view-identicons x-identicon {
    width: 128px;
    height: 128px;
    position: absolute;
    transition: transform 500ms;
    will-change: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: scale(0.6);
}

view-identicons x-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-bottom:  64px;
}

view-identicons x-identicon:nth-child(1) {
    transform: translate(0, 0);
}

view-identicons x-identicon:nth-child(2) {
    transform: translate(0, -128px);
}

view-identicons x-identicon:nth-child(3) {
    transform: translate(110px, -64px);
}

view-identicons x-identicon:nth-child(4) {
    transform: translate(-110px, -64px);
}

view-identicons x-identicon:nth-child(5) {
    transform: translate(110px, 64px);
}

view-identicons x-identicon:nth-child(6) {
    transform: translate(-110px, 64px);
}

view-identicons x-identicon:nth-child(7) {
    transform: translate(0, 128px);
}


view-identicons [button] {
    opacity: 0;
    /* transform: translate(0, 480px); */
    transition: transform 500ms;
    will-change: transform;
    transition-delay: 300ms;
    position: absolute;
    top: calc( 50% + 240px);
    pointer-events: none;
    max-width: calc(100% - 32px);
}


view-identicons x-backdrop {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity;
    will-change: opacity;
}


view-identicons [secondary] {
    position: absolute;
    bottom: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}


view-identicons x-address:before {
    display: block;
    content: 'Avatar Address';
    line-height: 24px;
    font-weight: 700;
    font-size: 13px;
}

view-identicons x-address {
    opacity: 0;
    position: absolute;
    transition: opacity 300ms, transform 500ms;
    transform: scale(0.3);
}

view-identicons[selected] [button] {
    opacity: 1;
    z-index: 2;
    transform: translate(0, 0);
    pointer-events: all;
}

view-identicons[selected] x-address {
    opacity: 1;
    z-index: 2;
    transform: translate(0, 56px);
    margin-top: 32px;
}

view-identicons[selected] x-backdrop {
    pointer-events: all;
    opacity: 1;
    border: 100vmax solid rgb(21, 20, 51);
}

view-identicons x-identicon[selected] {
    z-index: 3;
    transform: scale(1.5) translateY(-40px);
}



@media (max-width: 380px) {
    view-identicons x-identicon {
        width: 30vw;
        height: 30vw;
    }

    view-identicons x-identicon:nth-child(2) {
        transform: translate(0, -100%);
    }

    view-identicons x-identicon:nth-child(3) {
        transform: translate(84%, -50%);
    }

    view-identicons x-identicon:nth-child(4) {
        transform: translate(-84%, -50%);
    }

    view-identicons x-identicon:nth-child(5) {
        transform: translate(84%, 50%);
    }

    view-identicons x-identicon:nth-child(6) {
        transform: translate(-84%, 50%);
    }

    view-identicons x-identicon:nth-child(7) {
        transform: translate(0, 100%);
    }

    view-identicons x-identicon[selected] {
        transform: scale(1.5) translateY(-32px);
    }
}

view-identicons:not([active]) x-identicon {
    transform: translate(0, 0);
}

view-identicons x-identicon:nth-child(3),
view-identicons x-identicon:nth-child(4),
view-identicons x-identicon:nth-child(7) {
    transition-delay: 300ms;
}

view-identicons x-identicon[selected] {
    transition-delay: 0s !important;
}