@import "../x-accounts/x-accounts-dropdown.css";
@import "../x-address-input/x-address-input.css";
@import "../x-amount-input/x-amount-input.css";
@import "../x-fee-input/x-fee-input.css";
@import "../x-extra-data-input/x-extra-data-input.css";

.x-send-transaction {
    width: 600px;
    box-sizing: content-box;
    text-align: center;
}

.x-send-transaction h3 {
    margin-top: 32px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.16em;
    text-align: left;
}

.x-send-transaction .link-address-book {
    display: none;
    float: right;
    /* text-transform: none; */
    font-size: 11px;
    /* font-weight: normal; */
    /* letter-spacing: 0; */
}

.x-send-transaction input[type="number"],
.x-send-transaction input[type="number"]::placeholder,
.x-send-transaction x-address-input {
    font-size: 18px;
    /* text-align: left !important; */
    font-weight: 300;
}

.x-send-transaction x-address-input {
    /* margin-top: -16px; */
}

.x-send-transaction x-address-input .input-row {
    margin-bottom: -20px;
}

.x-send-transaction x-address-input.multiline .input-row input {
    flex-grow: 1;
}

@media (max-width: 620px) {
    .x-send-transaction x-address-input x-identicon {
        margin-left: 0;
    }
}
@media (max-width: 610px) { .x-send-transaction x-address-input, .x-send-transaction input::placeholder { font-size: 17px; } }
@media (max-width: 570px) { .x-send-transaction x-address-input, .x-send-transaction input::placeholder { font-size: 16px; } }
@media (max-width: 545px) { .x-send-transaction x-address-input, .x-send-transaction input::placeholder { font-size: 15px; } }
@media (max-width: 515px) {
    .x-send-transaction x-address-input,
    .x-send-transaction input::placeholder {
        font-size: 14px;
    }

    .x-send-transaction x-address-input {
        margin-top: -8px;
    }
}
@media (max-width: 480px) { .x-send-transaction x-address-input { font-size: 15px; } }
@media (max-width: 470px) { .x-send-transaction x-address-input { font-size: 14px; } }
@media (max-width: 440px) { .x-send-transaction x-address-input { font-size: 13px; } }
@media (max-width: 415px) { .x-send-transaction x-address-input { font-size: 12px; } }
@media (max-width: 385px) { .x-send-transaction x-address-input { font-size: 11px; } .x-send-transaction x-address-input { margin-top: -16px; } }
@media (max-width: 345px) { .x-send-transaction x-address-input { font-size: 10px; } }

.x-send-transaction input[amount],
.x-send-transaction input[fee],
.x-send-transaction input[validity-start] {
    width: 100%;
    padding: 0 !important;
    font-weight: 300;
}

.x-send-transaction input[validity-start] {
    padding-left: 8px !important;
}

.x-send-transaction button[send] {
    margin-top: 28px;
    width: 80%;
}

.x-send-transaction [advanced-settings] [expandable-content] > :first-child {
    margin-top: 8px;
}

.x-send-transaction [advanced-settings] input[type="number"],
.x-send-transaction [advanced-settings] input[type="number"]::placeholder {
    font-size: 30px !important;
}

.x-send-transaction [advanced-settings] small {
    display: block;
    text-align: left;
    margin-top: -5px;
    margin-bottom: 5px;
    opacity: 0.6;
}

span[error] {
    color: var(--error-color);
    display: block;
    padding: 4px 0;
}
