@import "x-send-transaction.css";
@import "../mixin-modal/mixin-modal.css";

x-send-transaction-modal h3 {
    opacity: .8;
}

x-send-transaction-modal a[secondary] {
    margin-bottom: 0;
}

x-send-transaction-offline-modal,
x-send-prepared-transaction-modal {
    max-width: 500px;
    text-align: center;
}

x-send-transaction-offline-modal p,
x-send-prepared-transaction-modal p {
    margin: 1em 0;
}

x-send-transaction-offline-modal textarea,
x-send-prepared-transaction-modal textarea {
    width: 100%;
    min-height: 225px;
    background: #e9e9e9;
    padding: 0.5em;
    border-radius: 3px;
    margin-bottom: 1em;
}
