x-create-request-link-modal {
    width: 600px;
}

x-create-request-link-modal .x-request-link {
    cursor: pointer;
    font-weight: bold;
    overflow-wrap: break-word;
}

x-create-request-link-modal .x-request-link:hover {
    background: rgba(0, 0, 0, 0.2);
}

x-create-request-link-modal ul {
    padding-left: 20px;
    list-style: square;
    max-width: 100%;
}

x-create-request-link-modal .address-label {
    margin-bottom: 4px;
}

x-create-request-link-modal ul .x-address {
    margin-left: -15px;
}
