x-create-request-link-modal {
    width: 600px;
}

x-create-request-link-modal .x-request-link {
    cursor: pointer;
    font-weight: bold;
}

x-create-request-link-modal .x-request-link:hover {
    background: rgba(0, 0, 0, 0.2);
}

x-create-request-link-modal ul {
    padding-left: 12px;
    list-style: square;
}
