@import '/library/nimiq-style/nimiq-style.css';

x-password-indicator meter {
    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;
  
    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

x-password-indicator meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
x-password-indicator meter[value="10"]::-webkit-meter-optimum-value { background: var(--warning-color); }
x-password-indicator meter[value="70"]::-webkit-meter-optimum-value { background: var(--error-color); }
x-password-indicator meter[value="100"]::-webkit-meter-optimum-value { background: var(--success-color); }

/* Gecko based browsers */
x-password-indicator meter[value="10"]::-moz-meter-bar { background: var(--warning-color); }
x-password-indicator meter[value="70"]::-moz-meter-bar { background: var(--warning-color); }
x-password-indicator meter[value="100"]::-moz-meter-bar { background: var(--warning-color); }

x-password-indicator .label {
  margin-bottom: 5px;
}