@import '../x-input/x-input.css';

x-extra-data-input input[type="text"] {
    width: 100%;
    font-size: 1.2em;
    padding: 4px;
}

x-extra-data-input .x-extra-data-info {
    margin-top: 1rem;
}

x-extra-data-input .x-extra-data-remaining {
    margin: 0;
}
