@import 'x-accounts.css';
@import '../x-expandable/x-expandable.css';

x-accounts-dropdown {
    display: block;
    width: 100%;
    height: 88px;
}

x-accounts-dropdown x-expandable:not([disabled]) [status-message] {
    display: none;
}

x-accounts-dropdown x-expandable[disabled] x-account {
    opacity: 0.7;
}

x-accounts-dropdown [status-message]:not(:empty) {
    margin: 20px !important;
}

x-accounts-dropdown x-expandable {
    height: 100%;
}

x-accounts-dropdown [expandable-trigger] {
    display: flex;
    border-right: 16px solid transparent;
}

@media (max-width: 480px) {
    x-accounts-dropdown [expandable-trigger] {
        border-right: 0;
    }
}

x-accounts-dropdown x-expandable:not([disabled]) [expandable-trigger]:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

x-accounts-dropdown [expandable-trigger] x-account:hover {
    background: transparent;
}

x-accounts-dropdown x-accounts-list {
    display: block;
    min-height: unset;
    max-height: 200px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0;
}

x-accounts-dropdown x-account {
    animation: none;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}
