x-receive-request-link-modal x-identicon {
    display: block;
    width: 160px;
    margin: 0 auto;
}

x-receive-request-link-modal .x-message {
    margin: 20px;
}

.web-share-item.web-share-facebook {
    display: none;
}
