@import '/elements/x-dot-loader/x-dot-loader.css';

/* Click events in iOS only bubble when this is set.
   And since there is no cursor on iOS (for now), this
   does not make a visual difference. */
.is-ios * {
    cursor: pointer;
}

x-popup-menu {
    display: block;
    position: relative;
    text-align: right;
}

x-popup-menu[left-align] {
    text-align: left;
}

x-popup-menu button {
    /* border: 0; */
    background: transparent !important;
    color: #3b3b3b !important;
    border: 1px solid transparent !important;
    font-size: 13px;
    width: 40px;
    padding: 0;
    height: 40px;
    line-height: 40px;
    min-height: 40px;
    box-shadow: none;
}

x-popup-menu button:hover {
    background: rgba(0, 0, 0, 0.075) !important;
}

x-popup-menu > div {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    z-index: 1;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

x-popup-menu[left-align] > div {
    right: auto;
    left: 0;
}

x-popup-menu.active > div {
    display: initial;
    /* We need to animate from below here, so that the popupmenu
       is on top of the button when the user clicks/touches. On
       touch devices this would result in an instant click on the
       top popupmenu item. */
    animation: popupmenu-from-below;
    animation-duration: 0.3s;
}

x-popup-menu > button[disabled] + div {
    display: none !important;
}

x-popup-menu > button:disabled .dot-loader {
    opacity: 0.26;
}

x-popup-menu > div > button {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0;
    border-radius: 0;
    padding: 4px 15px;
    height: 48px;
}

x-popup-menu > div > button .material-icons {
    margin-right: 9px;
}

@keyframes popupmenu-from-below {
    from {
        opacity: 0;
        /* Height of the button, so that the menu is not initiated above the button */
        transform: translateY(40px);
    }
    25%{ opacity: 0; }
    to{ opacity: 1; }
}
