@import '../nimiq-style/nimiq-style.css';
@import 'x-recovery-phrase.css';

x-mnemonic-phrase {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
