@import '/library/nimiq-style/nimiq-style.css';

x-toast-container {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
    transform: translateY(-110%);
}

x-toast-popup {
    min-height: 20px;
    padding: 14px 24px;
    background: #333;
    color: white;
    border-radius: 3px;
    animation-fill-mode: backwards;
    box-shadow: var(--box-shadow);
    margin: 24px;
}

.x-toast-show {
    animation: x-toast-show 3s;
}

@keyframes x-toast-show {
    from {
        transform: translateY(-110%);
        opacity: 0;
    }

    5% {
        opacity: 1;
        transform: none;
    }

    95% {
        opacity: 1;
        transform: none;
    }

    100% {
        transform: translateY(-110%);
        opacity: 0;
    }
}

@media (max-width: 420px) {
    x-toast-popup {
        margin: 0px;
        width: 100%;
        border-radius: 0;
    }
}