@import '/library/nimiq-style/nimiq-style.css';

x-toast-container{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
}

x-toast-popup {
    min-height: 20px;
    padding: 14px 24px;
    background: #333;
    color: white;
    border-radius: 3px;
    animation-fill-mode: backwards;
    box-shadow: var(--box-shadow);
}

.x-toast-show {
    animation: x-toast-show 5s;
}

@keyframes x-toast-show {
    from {
        opacity: 0;
    }

    5% {
        opacity: 1;
        transform: translateY(-80px);
    }

    95% {
        opacity: 1;
        transform: translateY(-80px);
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 400px) {
    x-toast-container {
        justify-content: left;
    }

    x-toast-popup{
        margin: 16px;
    }
}