@import '../../secure-elements/x-toast/x-toast.css';

x-address, .x-address{
    width: 100%;
    min-width: 320px;
    max-width: 400px;
    box-sizing: border-box;
    padding: 8px 16px;
    font-size: 14px;
    word-spacing: -0.15em;
    white-space: nowrap;
    font-family: 'Fira Mono', monospace;
}

@media (max-width: 460px) {
    x-address, .x-address {
        padding: 8px 4px;
    }
}

@media (max-width: 400px) {
    x-address, .x-address {
        font-size: 12px;
    }
}

@media (max-width: 340px) {
    x-address, .x-address {
        font-size: 11px;
    }
}

x-address {
    cursor: pointer;
    border-radius: 3px;
}

x-address:hover{
    background: rgba(0, 0, 0, 0.2);
}
