@import "/libraries/nimiq-style/nimiq-style.css";

x-pages {
    position: relative;
}

x-pages > [page] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
/*    animation-timing-function: ease-in; */
}

/* default animation styles */
x-pages > [page][class*="-in"] {
    animation-duration: 0.5s;
    animation-timing-function: ease-in; 
    z-index: 1;
}

x-pages > [page][class*="-out"] {
    animation-duration: 0.4s;
    animation-timing-function: ease; 
}