@import '../x-address/x-address.css';
@import '../x-amount/x-amount.css';
@import '../x-loading-animation/x-loading-animation.css';
@import '../x-popup-menu/x-popup-menu.css';
@import './x-transaction-modal.css';

x-transactions {
    display: block;
    width: 100%;
}

x-transactions .transactions-heading {
    display: inline-block;
}

x-transactions a[secondary] {
    padding: 1em;
    margin-bottom: -1em !important;
    margin-top: 5px !important;
    text-align: center;
}

x-transactions x-popup-menu {
    width: 40px;
    height: 40px;
    float: right;
}

.x-transactions-list {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    border-collapse: collapse;
}

.x-transactions-list x-loading-animation {
    margin: 0 auto;
    margin-top: 2em;
    display: none;
}

.x-transactions-list x-loading-animation + h2 {
    text-align: center;
}

.x-transactions-list .x-transaction {
    animation: from-right 500ms;
    animation-fill-mode: backwards; /* Apply the animation's opacity: 0 when the animation property is applied */
    cursor: pointer;
    border-radius: 4px;
}

.x-transaction.removed,
.x-transaction.expired {
    background: var(--nimiq-orange);
}

.x-transaction > * {
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.x-transaction > *:first-child {
    padding-left: 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.x-transaction > *:last-child {
    padding-right: 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

x-transactions .x-transaction > *:last-child {
    text-align: right;
}

.x-transaction:nth-child(1) { animation-delay: 0.0s }
.x-transaction:nth-child(2) { animation-delay: 0.1s }
.x-transaction:nth-child(3) { animation-delay: 0.2s }
.x-transaction:nth-child(4) { animation-delay: 0.3s }
.x-transaction:nth-child(5) { animation-delay: 0.4s }
.x-transaction:nth-child(6) { animation-delay: 0.5s }
.x-transaction:nth-child(7) { animation-delay: 0.6s }
.x-transaction:nth-child(8) { animation-delay: 0.7s }
.x-transaction:nth-child(9) { animation-delay: 0.8s }
.x-transaction:nth-child(10){ animation-delay: 0.9s }

x-transactions.no-animation .x-transaction {
    animation: none !important;
    animation-delay: 0s !important;
}

x-transactions .x-transaction:hover > * {
    background-color: rgba(0, 0, 0, 0.075);
}

.x-transaction.removed .timestamp,
.x-transaction.expired .timestamp {
    font-weight: bold;
}

.x-transaction .identicon {
    width: 66px;
    height: 75px;
    padding: 0 8px;
}

.x-transaction .info-line.mobile {
    display: none !important;
}

/* Responsiveness */
@media (max-width: 600px) {
    x-transactions .x-transaction .label {
        max-width: 0;
        overflow: hidden;
        padding: 0;
    }

    .x-transaction .info-line.desktop {
        display: none !important;
    }

    .x-transaction.cashlink-remote-claim .info-line.mobile {
        display: table-cell !important;
    }
}

.x-transaction.incoming .label[recipient],
.x-transaction.outgoing .label[sender],
.x-transaction.transfer .label {
    /* font-weight: bold; */
}

.x-transaction x-amount {
    font-size: 1.4em;
}

.x-transaction.removed x-currency-nim,
.x-transaction.expired x-currency-nim {
    text-decoration: line-through;
}

@media (max-width: 768px) {
    x-transactions .x-transaction x-amount {
        font-size: 1.2em;
    }

    x-transactions .x-transaction x-amount .rest-decimals {
        display: none;
    }

    x-transactions .x-transaction x-amount .ticker {
        display: block;
    }
}

@media (max-width: 480px) {
    x-transactions .x-transaction x-amount {
        font-size: 1.1em;
    }
}

@media (max-width: 350px) {
    x-transactions .x-transaction x-amount {
        font-size: 1em;
    }
}

.x-transactions-list x-no-transactions {
	font-size: 16px;
	display: block;
	padding: 1.5em;
	text-align: center;
}

.x-transactions-list x-no-transactions h1.material-icons {
    display: block;
    font-size: 80px;
    opacity: 0.3;
    margin-bottom: 0.1em;
}

.x-transactions-list x-no-transactions .material-icons,
.x-transactions-list x-no-transactions span {
    opacity: 0.6;
}

.x-transactions-list x-no-transactions button {
    margin-top: 4rem;
    width: unset;
}

x-transactions x-paginator {
    display: block;
    text-align: center;
}

x-transactions x-paginator button {
    display: inline;
    padding: 0 7px !important;
    line-height: 40px !important;
}

x-transactions[only-recent] x-paginator {
    display: none;
}

x-transactions .view-more,
x-transactions .view-less {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

x-transactions a.view-less, /* specificity needed to override a[secondary] rule */
x-transactions.few-transactions .view-more,
x-transactions.view-more .view-more {
    display: none;
}

x-transactions.view-more x-paginator,
x-transactions.view-more .view-less {
    display: block;
}

/* CASHLINKS */

/* Filter */
x-transactions:not(.filtered) .show-if-filtered,
x-transactions.filtered .hide-if-filtered {
    display: none;
}

.transactions-filtered-header {
    margin: -1em;
    margin-bottom: 8px;
    padding: 18px;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

@media (min-width: 481px) {
    .transactions-filtered-header {
        margin: -24px;
        margin-bottom: 12px;
        padding: 26px;
    }
}

.transactions-filtered-header h2 {
    margin: 0;
}

.filter-unclaimed-cashlinks,
.filter-close-button {
    width: unset;
    text-transform: unset;
    letter-spacing: unset;
    box-shadow: unset;

    margin: -6px 0 -6px 12px;
    font-size: 16px;
    font-weight: 600;
    min-height: 31px;
    border-radius: 500rem;
}

.filter-close-button {
    float: right;
    margin: -24px -6px;
    font-size: 24px;
    padding: 0;
    line-height: 31px;
    width: 31px;
    padding-left: 1px;
}

@media (max-width: 420px) {
    .filter-unclaimed-cashlinks {
        display: block;
        margin: -16px 0 8px;
    }
}

/* Style remote claiming info line */
x-transactions .x-transaction.cashlink-remote-claim {
    background: rgba(31, 35, 72, 0.06); /* Based on Nimiq Indigo */
}

x-transactions .x-transaction.cashlink-remote-claim > * {
    padding-top: 10px;
    padding-bottom: 10px;
}

x-transactions .x-transaction .info-line,
x-transactions .x-transaction.cashlink-remote-claim .hidden-when-info {
    display: none;
}

x-transactions .x-transaction.cashlink-remote-claim .info-line {
    display: table-cell;
    padding: 0 8px;
}

x-transactions .x-transaction.cashlink-remote-claim .info-line strong {
    font-weight: 600;
}

x-transactions .x-transaction.cashlink-remote-claim x-amount {
    font-size: 1em;
}

x-transactions .x-transaction.cashlink-remote-claim x-amount .ticker {
    font-weight: 600;
    font-size: 1em;
}

x-transactions .x-transaction.cashlink-remote-claim .info-line x-identicon {
    display: inline-block;
    width: 28px;
    margin: -4px 8px -8px;
}
