x-network-indicator {
    display: block;
    padding-top: 0.4em;
}

x-network-indicator hr {
    border: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
}

x-network-indicator div {
    margin-bottom: 0.4em;
}

x-network-indicator label,
x-network-indicator strong {
    display: inline-block;
    width: 49%;
}

x-network-indicator strong {
    text-align: right;
}
