x-network-indicator {
    display: block;
    margin-top: -4px;
}

x-network-indicator div {
    line-height: 45px;
}

x-network-indicator label,
x-network-indicator span {
    display: inline-block;
    width: 49%;
}

x-network-indicator label {
    opacity: 0.6;
}

x-network-indicator span {
    text-align: right;
    font-size: 15px;
    text-transform: capitalize;
}
