@import '../elements/x-loading-animation/x-loading-animation.css';
@import '../elements/x-captcha/x-captcha.css';
@import '../elements/x-success-mark/x-success-mark.css';

.x-faucet-modal .modal-body {
    padding-top: 0;
}

.x-faucet-modal .modal-body > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-in .3s;
}

.x-faucet-modal .loading x-loading-animation,
.x-faucet-modal x-success-mark,
.x-faucet-modal .nq-icon.warning {
    margin: 10rem;
    width: 12rem;
    height: 12rem;
}

.x-faucet-modal .captcha x-captcha {
    margin: 11rem 0;
}

.x-faucet-modal x-success-mark .checkmark {
    stroke: white;
    margin: 0;
    width: 100%;
    height: 100%;
}

.x-faucet-modal x-succes-mark .checkmark__check {
    stroke: white;
}

.x-faucet-modal .nq-icon.warning {
    background-image: url('data:image/svg+xml,<svg width="75" height="74" viewBox="0 0 75 74" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M39.8365 49.2798C39.8365 50.8448 38.5617 52.1253 36.991 52.1253C35.4203 52.1253 34.1455 50.8448 34.1455 49.2798V30.6531C34.1455 29.0767 35.4203 27.8076 36.991 27.8076C38.5617 27.8076 39.8365 29.0767 39.8365 30.6531V49.2798ZM36.991 62.4718C35.4203 62.4718 34.1455 61.197 34.1455 59.6263C34.1455 58.0555 35.4203 56.7808 36.991 56.7808C38.5617 56.7808 39.8365 58.0555 39.8365 59.6263C39.8365 61.197 38.5617 62.4718 36.991 62.4718ZM73.3682 69.1074L39.5351 1.44694C38.5676 -0.482313 35.4148 -0.482313 34.4473 1.44694L0.301268 69.7391C-0.13694 70.6212 -0.0971029 71.6683 0.420779 72.5106C0.944352 73.3472 1.86061 73.8537 2.84515 73.8537H71.1373C71.1771 73.8594 71.2227 73.8594 71.2511 73.8537C72.8218 73.8537 74.0966 72.5846 74.0966 71.0082C74.0966 70.2797 73.8235 69.6139 73.3682 69.1074Z" fill="lightgray"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: from-bottom .7s ease;
}

.x-faucet-modal .status-message {
    max-width: 22rem;
}

@media (min-width: 420px) {
    .x-faucet-modal {
        min-width: 45rem;
    }
}
