@import '/secure-elements/x-router/x-router.css';
@import '/elements/x-accounts/x-accounts.css';
@import '/elements/x-transactions/x-transactions.css';
@import '/secure-elements/x-toast/x-toast.css';
@import '/elements/x-amount/x-amount.css';
@import '/elements/x-network-indicator/x-network-indicator.css';
@import '/elements/x-send-transaction/x-send-transaction-modal.css';
@import '/elements/x-request-link/x-receive-request-link-modal.css';
@import '/elements/x-request-link/x-create-request-link-modal.css';
@import '../settings/x-settings.css';
@import '/elements/x-education-slides/x-education-slides.css';
@import '/elements/x-ledger-ui/x-ledger-ui-modal.css';
@import './x-upgrade-modal.css';
@import '/secure-elements/x-loader/x-loader.css';
@import '/elements/v-wallet-selector/v-wallet-selector.css';

html,
body {
    overflow-x: hidden;
    background: #fafafa;
    display: initial;
}

.header-warning {
    padding: 15px;
    background: var(--warning-color);
    color: #3b3b3b;
    text-align: center;
    /* font-weight: 600; */
}

.header-warning:not(.display-none) + .header-warning {
    border-top: 1px solid #333;
}

.header-warning .close-warning {
    float: right;
    color: #3b3b3b;
    cursor: pointer;
}

header {
    width: 100%;
    background: var(--primary-background-toright);
    text-align: center;
    padding: 0 0.5em;
    /* border-bottom: 3px solid var(--success-color); */
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.content-width {
    max-width: var(--max-content-width);
    margin: 0 auto;
}

.header-top {
    padding: 1em 1.8em;
    height: 54px;
}

.nimiq-app-name {
    float: left;
}

.safe-logo {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 473 64"><defs><style>.cls-1{fill:url(#radial-gradient);}.cls-2{fill:#fff;}</style><radialGradient id="radial-gradient" cx="54.17" cy="63.17" r="72.02" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ec991c"/><stop offset="1" stop-color="#e9b213"/></radialGradient></defs><title>nimiq_safe</title><path class="cls-1" d="M71.2,29l-15-26A6,6,0,0,0,51,0H21a6,6,0,0,0-5.19,3L.8,29a6,6,0,0,0,0,6l15,26A6,6,0,0,0,21,64H51a6,6,0,0,0,5.19-3l15-26A6,6,0,0,0,71.2,29Z"/><path class="cls-2" d="M126,12.55h4.21V51h-3.46L103.54,20.06V51H99.38V12.55h3.4L126,43.49Z"/><path class="cls-2" d="M144,51V12.55h4.43V51Z"/><path class="cls-2" d="M194.9,12.55h3.67V51h-4.1V22.43L182,51h-3.14L166.28,22.65,166.34,51h-4.11V12.55h3.67l14.58,33.16Z"/><path class="cls-2" d="M212.4,51V12.55h4.43V51Z"/><path class="cls-2" d="M260.19,58.51l-3.08,2.8a29.44,29.44,0,0,1-4.54-4.4,37.49,37.49,0,0,1-3.94-5.59c-.79.08-1.42.11-1.89.11a17.7,17.7,0,0,1-9.29-2.37,15.68,15.68,0,0,1-6.07-6.83,24,24,0,0,1-2.13-10.45,24.25,24.25,0,0,1,2.1-10.48,15.49,15.49,0,0,1,6.05-6.8,19.52,19.52,0,0,1,18.68,0,15.43,15.43,0,0,1,6.05,6.8,24,24,0,0,1,2.11,10.42,22.89,22.89,0,0,1-2.89,11.91,15.28,15.28,0,0,1-8.13,6.72A30.14,30.14,0,0,0,260.19,58.51Zm-23-15q3.4,4.17,9.56,4.16t9.51-4.16q3.39-4.16,3.4-11.77T256.27,20q-3.37-4.1-9.53-4.1T237.18,20q-3.39,4.14-3.4,11.69T237.18,43.49Z"/><path class="cls-2" d="M299.2,50.3a19.15,19.15,0,0,1-6.56-3.4L295,41.82a20.38,20.38,0,0,0,5.86,3.11,21.44,21.44,0,0,0,6.66,1,11.42,11.42,0,0,0,6.19-1.4,4.43,4.43,0,0,0,2.18-3.94,3.63,3.63,0,0,0-2-3.32,25,25,0,0,0-6.67-2.19Q300,33.51,296.69,31a8.48,8.48,0,0,1-3.29-7.23,10.37,10.37,0,0,1,1.83-6.05,12.26,12.26,0,0,1,5.21-4.16,18.89,18.89,0,0,1,7.81-1.51,24.14,24.14,0,0,1,7.69,1.21,16.12,16.12,0,0,1,6,3.38l-2.32,5.07a17.76,17.76,0,0,0-11.34-4.1,9.94,9.94,0,0,0-5.89,1.54,4.86,4.86,0,0,0-2.16,4.18,3.83,3.83,0,0,0,1.92,3.46A22.66,22.66,0,0,0,308.68,29a47.57,47.57,0,0,1,7.83,2.46,11.71,11.71,0,0,1,4.64,3.4,8.22,8.22,0,0,1,1.62,5.21,10.08,10.08,0,0,1-1.83,6,11.71,11.71,0,0,1-5.3,4,21.48,21.48,0,0,1-8.15,1.41A28.11,28.11,0,0,1,299.2,50.3Z"/><path class="cls-2" d="M354.85,23.73V51h-6.64V46.63a8.73,8.73,0,0,1-3.57,3.53,10.81,10.81,0,0,1-5.29,1.27A11.65,11.65,0,0,1,333,49.71a11.41,11.41,0,0,1-4.26-4.92,17,17,0,0,1-1.52-7.4,17.45,17.45,0,0,1,1.54-7.48,12.06,12.06,0,0,1,4.3-5.07A11.1,11.1,0,0,1,339.35,23a10.81,10.81,0,0,1,5.29,1.27,8.73,8.73,0,0,1,3.57,3.53v-4.1Zm-8.48,20.09a10.33,10.33,0,0,0,1.84-6.53,10.53,10.53,0,0,0-1.84-6.65,6.3,6.3,0,0,0-5.24-2.32,6.22,6.22,0,0,0-5.21,2.4,10.68,10.68,0,0,0-1.86,6.67,10,10,0,0,0,1.86,6.48,6.44,6.44,0,0,0,5.27,2.27A6.21,6.21,0,0,0,346.37,43.82Z"/><path class="cls-2" d="M370.72,21.41v2.32h6.11v5.08h-6.11V51H364V28.81h-5.18V23.73H364V21.08q0-4.86,2.46-7.47T373.48,11a12.25,12.25,0,0,1,4.26.64V17a11.16,11.16,0,0,0-2.64-.38C372.18,16.6,370.72,18.21,370.72,21.41Z"/><path class="cls-2" d="M405.61,37.72H386.82q.21,4.37,2.18,6.45t5.86,2.08a13.44,13.44,0,0,0,8.32-2.92L405.12,48a15.22,15.22,0,0,1-4.78,2.51,18,18,0,0,1-5.75.94q-6.69,0-10.53-3.78t-3.83-10.36a15.94,15.94,0,0,1,1.67-7.4,12.33,12.33,0,0,1,4.7-5.05A13.07,13.07,0,0,1,393.46,23a11.33,11.33,0,0,1,8.88,3.64q3.27,3.64,3.27,10Zm-16.39-8.24A7.79,7.79,0,0,0,387,34.1h12.69a7.53,7.53,0,0,0-1.86-4.64,5.66,5.66,0,0,0-4.24-1.57A6.18,6.18,0,0,0,389.22,29.48Z"/><path class="cls-2" d="M424.62,13.53a3.9,3.9,0,0,1,.71,2.37,3.67,3.67,0,0,1-1.37,3,6,6,0,0,1-3.83,1.1h-6.88V4.86h6.67a5.81,5.81,0,0,1,3.68,1A3.49,3.49,0,0,1,425,8.82a3.49,3.49,0,0,1-.63,2.08,3.58,3.58,0,0,1-1.74,1.29A3.74,3.74,0,0,1,424.62,13.53Zm-8.69-2.28h3.54c1.9,0,2.86-.71,2.86-2.13a1.89,1.89,0,0,0-.71-1.6A3.58,3.58,0,0,0,419.47,7h-3.54ZM422,17.37a2,2,0,0,0,.69-1.69A2.07,2.07,0,0,0,422,14a3.5,3.5,0,0,0-2.19-.56h-3.9v4.5h3.9A3.66,3.66,0,0,0,422,17.37Z"/><path class="cls-2" d="M430.08,20V4.86h10.15V7h-7.46v4.2h7V13.4h-7v4.46h7.46V20Z"/><path class="cls-2" d="M448.47,20V7.12h-4.94V4.86h12.68V7.12h-5V20Z"/><path class="cls-2" d="M470,20l-1.51-3.56H461L459.49,20h-2.77l6.86-15.17h2.24L472.7,20Zm-8-5.69h5.58l-2.79-6.5Z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    width: 180px;
}

.safe-logo [logo-link] {
    display: block;
    width: 28px;
    height: 24px;
}

.secondary-links {
    float: right;
}

.secondary-links a {
    display: inline-block;
    margin-left: 0.5em;
}

x-total-amount {
    display: block;
    font-size: 2.5em;
    margin: 0.5em auto 1em auto;
}

.header-bottom {
    overflow: hidden;
    padding: 0.5em 1em;
}

nav.main {
    float: left;
    height: 44px;
}

nav.main a {
    display: inline-block;
    margin: 18px 1em 0 0.5em;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.16em;
    padding: 0 4px 15px;
    font-weight: bold;
    opacity: 0.6;
    line-height: 16px;
}

x-view-dashboard,
x-view-history,
x-view-settings {
    padding: 1em 0.5em;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

nav.main a[x-href].current {
    opacity: 1;
    border-bottom: 2px solid var(--success-color);
}

x-card {
    display: block;
    width: 100%;
    max-width: 960px;
    border-radius: 0.4em;
    padding: 1em;
    margin: 0.5em;
    background: white;
    box-shadow: 0 4px 24px -8px rgba(0, 0, 0, 0.25);
}

@media (min-width: 480px) {
    x-card {
        padding: 24px ;
        margin: 16px;
    }
}

x-card h2 {
    margin-bottom: 23px;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    font-size: 13px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1em;
    opacity: 0.6;
    transition: opacity 0.5s linear 0.1s;
    font-size: 13px;
    margin-top:  80px;
}

footer a {
    text-decoration: underline;
    cursor: pointer;
}

body.preparing > * {
    visibility: hidden !important;
}

body.preparing footer {
    opacity: 0;
}


x-disclaimer-modal {
    width: 690px;
}

x-disclaimer-modal p {
    text-align: justify;
}

x-disclaimer-modal p + p {
    margin-top: 1em;
}

.waiting {
    cursor: wait;
    color: #949292 !important;
    pointer-events: none;
}

button.waiting {
    background-color: transparent;
}

x-safe-lock {
    display: block;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    padding-top: 10vh
}

x-safe-lock .material-icons {
    font-size: 120px;
    width: 1em;
    opacity: 0.3;
    margin-bottom: 0.5em;
}

x-safe-lock .patt-holder {
    margin: auto;
    margin-top: 40px;
}





nav.actions.floating-actions {
    margin-bottom: -16px;
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
    float: none;
}

.floating-btn {
    text-align: center;
    width: 96px;
    margin-top: -45px;
}

.floating-btn button {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    background-color: white;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin-left: 0;
    padding: 0;
    min-height: 0;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.floating-btn button:disabled {
    background: white;
    border: 1px solid transparent;
}

.floating-btn button:disabled span {
    opacity: 0.6;
}

.floating-btn button span {
    display: none;
}

.floating-btn .btn-text {
    padding-top: 8px;
    user-select: none;
}

.floating-btn button:disabled + .btn-text {
    opacity: 0.6;
}

.floating-btn [new-tx] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%234463D7" d="M15,20H9V12H4.16L12,4.16L19.84,12H15V20Z" /></svg>');
}

.floating-btn [new-tx]:disabled {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%234463D7" opacity="0.6" d="M15,20H9V12H4.16L12,4.16L19.84,12H15V20Z" /></svg>');
}

.floating-btn [receive] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%239548EF" d="M9,4H15V12H19.84L12,19.84L4.16,12H9V4Z" /></svg>');
}

.floating-btn [receive]:disabled {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%239548EF" opacity="0.6" d="M9,4H15V12H19.84L12,19.84L4.16,12H9V4Z" /></svg>');
}

.floating-btn [contacts] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%2300E7B8" d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm6 12H6v-1c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.floating-btn [contacts] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%2324BDB6" d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm6 12H6v-1c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

@media (max-width: 1000px) {
    x-view-dashboard {
        flex-direction: column;
    }

    x-view-dashboard > * {
        max-width: calc(100% - 32px) !important;
    }
}

@media (max-width: 690px) {
    nav.main a {
        margin: 18px 0.5em 0;
    }
}

@media (max-width: 660px) {
    nav.main a {
        margin: 18px 0.1em 0;
    }
}

/**
    * The point at which the main nav and the action buttons
    * in the header don't fit next to each other anymore
*/
@media (max-width: 620px) {
    x-total-amount {
        margin: 0.5em auto;
    }
    nav.main {
        float: none;
    }

    nav.main a {
        line-height: 17px;
    }

    nav.actions.floating-actions {
        justify-content: center;
        padding-right: 0;
    }

    .floating-btn {
        margin: 16px 8px 0;
        width: auto;
    }

    .floating-btn button {
        width: 120px !important;
        height: 40px !important;
        border-radius: 20px;
        min-height: 40px;
        padding: 0 24px;
        box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
        background-position: 12px center !important;
        line-height: 38px;
        padding-left: 40px;
    }

    .floating-btn button span {
        display: inline;
        color: #3b3b3b;
        /* font-size: 13px; */
        font-weight: normal;
        text-transform: none;
        letter-spacing: 0;
        font-family: inherit;
    }

    .floating-btn .btn-text {
        display: none;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0;
    }

    x-total-amount {
        font-size: 2em;
    }

    nav.main a {
        margin: 20px 0 0 0.5em;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 0 4px 14px;
        line-height: 15px;
    }

    .floating-btn button[contacts] {
        width: 40px !important;
        padding: 0;
        background-position: center !important;
    }

    .floating-btn button[contacts] span {
        display: none;
    }

    x-view-dashboard > * {
        max-width: calc(100% - 1em) !important;
    }
}
