@import '/secure-elements/x-router/x-router.css';
@import '/elements/x-accounts/x-accounts.css';
@import '/elements/x-transactions/x-transactions.css';
@import '/secure-elements/x-toast/x-toast.css';
@import '/elements/x-amount/x-amount.css';
@import '/elements/x-network-indicator/x-network-indicator.css';
@import '/elements/x-send-transaction/x-send-transaction-modal.css';
@import '/elements/x-request-link/x-receive-request-link-modal.css';
@import '/elements/x-request-link/x-create-request-link-modal.css';
@import '../settings/x-settings.css';
@import '/elements/x-education-slides/x-education-slides.css';
@import '/elements/x-ledger-ui/x-ledger-ui-modal.css';
@import './x-upgrade-modal.css';
@import './x-faucet-modal.css';
@import '/secure-elements/x-loader/x-loader.css';
@import '/elements/v-wallet-selector/v-wallet-selector.css';

html,
body {
    overflow-x: hidden;
    background: #fafafa;
    display: initial;
}

.header-warning {
    padding: 15px;
    background: var(--nimiq-gold);
    background-image: var(--nimiq-gold-bg);
    color: #3b3b3b;
    text-align: center;
    /* font-weight: 600; */
}

.header-warning:not(.display-none) + .header-warning {
    border-top: 1px solid #333;
}

.header-warning .close-warning {
    float: right;
    color: #3b3b3b;
    cursor: pointer;
}

header {
    width: 100%;
    background: var(--nimiq-blue);
    background-image: var(--nimiq-blue-bg);
    text-align: center;
    padding: 0 0.5em;
    /* border-bottom: 3px solid var(--success-color); */
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.content-width {
    max-width: var(--max-content-width);
    margin: 0 auto;
}

.header-top {
    padding: 1em 1.2em;
    height: 54px;
}

.nimiq-app-name {
    float: left;
}

.safe-logo {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 473 64"><defs><style>.cls-1{fill:url(%23radial-gradient);}.cls-2{fill:%23fff;}</style><radialGradient id="radial-gradient" cx="54.17" cy="63.17" r="72.02" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%23ec991c"/><stop offset="1" stop-color="%23e9b213"/></radialGradient></defs><title>nimiq_safe</title><path class="cls-1" d="M71.2,29l-15-26A6,6,0,0,0,51,0H21a6,6,0,0,0-5.19,3L.8,29a6,6,0,0,0,0,6l15,26A6,6,0,0,0,21,64H51a6,6,0,0,0,5.19-3l15-26A6,6,0,0,0,71.2,29Z"/><path class="cls-2" d="M126,12.55h4.21V51h-3.46L103.54,20.06V51H99.38V12.55h3.4L126,43.49Z"/><path class="cls-2" d="M144,51V12.55h4.43V51Z"/><path class="cls-2" d="M194.9,12.55h3.67V51h-4.1V22.43L182,51h-3.14L166.28,22.65,166.34,51h-4.11V12.55h3.67l14.58,33.16Z"/><path class="cls-2" d="M212.4,51V12.55h4.43V51Z"/><path class="cls-2" d="M260.19,58.51l-3.08,2.8a29.44,29.44,0,0,1-4.54-4.4,37.49,37.49,0,0,1-3.94-5.59c-.79.08-1.42.11-1.89.11a17.7,17.7,0,0,1-9.29-2.37,15.68,15.68,0,0,1-6.07-6.83,24,24,0,0,1-2.13-10.45,24.25,24.25,0,0,1,2.1-10.48,15.49,15.49,0,0,1,6.05-6.8,19.52,19.52,0,0,1,18.68,0,15.43,15.43,0,0,1,6.05,6.8,24,24,0,0,1,2.11,10.42,22.89,22.89,0,0,1-2.89,11.91,15.28,15.28,0,0,1-8.13,6.72A30.14,30.14,0,0,0,260.19,58.51Zm-23-15q3.4,4.17,9.56,4.16t9.51-4.16q3.39-4.16,3.4-11.77T256.27,20q-3.37-4.1-9.53-4.1T237.18,20q-3.39,4.14-3.4,11.69T237.18,43.49Z"/><path class="cls-2" d="M299.2,50.3a19.15,19.15,0,0,1-6.56-3.4L295,41.82a20.38,20.38,0,0,0,5.86,3.11,21.44,21.44,0,0,0,6.66,1,11.42,11.42,0,0,0,6.19-1.4,4.43,4.43,0,0,0,2.18-3.94,3.63,3.63,0,0,0-2-3.32,25,25,0,0,0-6.67-2.19Q300,33.51,296.69,31a8.48,8.48,0,0,1-3.29-7.23,10.37,10.37,0,0,1,1.83-6.05,12.26,12.26,0,0,1,5.21-4.16,18.89,18.89,0,0,1,7.81-1.51,24.14,24.14,0,0,1,7.69,1.21,16.12,16.12,0,0,1,6,3.38l-2.32,5.07a17.76,17.76,0,0,0-11.34-4.1,9.94,9.94,0,0,0-5.89,1.54,4.86,4.86,0,0,0-2.16,4.18,3.83,3.83,0,0,0,1.92,3.46A22.66,22.66,0,0,0,308.68,29a47.57,47.57,0,0,1,7.83,2.46,11.71,11.71,0,0,1,4.64,3.4,8.22,8.22,0,0,1,1.62,5.21,10.08,10.08,0,0,1-1.83,6,11.71,11.71,0,0,1-5.3,4,21.48,21.48,0,0,1-8.15,1.41A28.11,28.11,0,0,1,299.2,50.3Z"/><path class="cls-2" d="M354.85,23.73V51h-6.64V46.63a8.73,8.73,0,0,1-3.57,3.53,10.81,10.81,0,0,1-5.29,1.27A11.65,11.65,0,0,1,333,49.71a11.41,11.41,0,0,1-4.26-4.92,17,17,0,0,1-1.52-7.4,17.45,17.45,0,0,1,1.54-7.48,12.06,12.06,0,0,1,4.3-5.07A11.1,11.1,0,0,1,339.35,23a10.81,10.81,0,0,1,5.29,1.27,8.73,8.73,0,0,1,3.57,3.53v-4.1Zm-8.48,20.09a10.33,10.33,0,0,0,1.84-6.53,10.53,10.53,0,0,0-1.84-6.65,6.3,6.3,0,0,0-5.24-2.32,6.22,6.22,0,0,0-5.21,2.4,10.68,10.68,0,0,0-1.86,6.67,10,10,0,0,0,1.86,6.48,6.44,6.44,0,0,0,5.27,2.27A6.21,6.21,0,0,0,346.37,43.82Z"/><path class="cls-2" d="M370.72,21.41v2.32h6.11v5.08h-6.11V51H364V28.81h-5.18V23.73H364V21.08q0-4.86,2.46-7.47T373.48,11a12.25,12.25,0,0,1,4.26.64V17a11.16,11.16,0,0,0-2.64-.38C372.18,16.6,370.72,18.21,370.72,21.41Z"/><path class="cls-2" d="M405.61,37.72H386.82q.21,4.37,2.18,6.45t5.86,2.08a13.44,13.44,0,0,0,8.32-2.92L405.12,48a15.22,15.22,0,0,1-4.78,2.51,18,18,0,0,1-5.75.94q-6.69,0-10.53-3.78t-3.83-10.36a15.94,15.94,0,0,1,1.67-7.4,12.33,12.33,0,0,1,4.7-5.05A13.07,13.07,0,0,1,393.46,23a11.33,11.33,0,0,1,8.88,3.64q3.27,3.64,3.27,10Zm-16.39-8.24A7.79,7.79,0,0,0,387,34.1h12.69a7.53,7.53,0,0,0-1.86-4.64,5.66,5.66,0,0,0-4.24-1.57A6.18,6.18,0,0,0,389.22,29.48Z"/><path class="cls-2" d="M424.62,13.53a3.9,3.9,0,0,1,.71,2.37,3.67,3.67,0,0,1-1.37,3,6,6,0,0,1-3.83,1.1h-6.88V4.86h6.67a5.81,5.81,0,0,1,3.68,1A3.49,3.49,0,0,1,425,8.82a3.49,3.49,0,0,1-.63,2.08,3.58,3.58,0,0,1-1.74,1.29A3.74,3.74,0,0,1,424.62,13.53Zm-8.69-2.28h3.54c1.9,0,2.86-.71,2.86-2.13a1.89,1.89,0,0,0-.71-1.6A3.58,3.58,0,0,0,419.47,7h-3.54ZM422,17.37a2,2,0,0,0,.69-1.69A2.07,2.07,0,0,0,422,14a3.5,3.5,0,0,0-2.19-.56h-3.9v4.5h3.9A3.66,3.66,0,0,0,422,17.37Z"/><path class="cls-2" d="M430.08,20V4.86h10.15V7h-7.46v4.2h7V13.4h-7v4.46h7.46V20Z"/><path class="cls-2" d="M448.47,20V7.12h-4.94V4.86h12.68V7.12h-5V20Z"/><path class="cls-2" d="M470,20l-1.51-3.56H461L459.49,20h-2.77l6.86-15.17h2.24L472.7,20Zm-8-5.69h5.58l-2.79-6.5Z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    width: 180px;
}

.safe-logo [logo-link] {
    display: block;
    width: 28px;
    height: 24px;
}

.secondary-links {
    float: right;
}

.secondary-links a {
    display: inline-block;
    margin-left: 30px;
    opacity: 0.7;
    transition: opacity 200ms;
    font-size: 16px;
    line-height: 20px;
    vertical-align: text-bottom;
}

.secondary-links .get-nim,
.secondary-links .apps {
    font-weight: bold;
}

.secondary-links a:hover,
.secondary-links a:focus {
    opacity: 1;
}

.secondary-links .get-nim::before,
.secondary-links .apps::before,
.secondary-links .settings {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    background-size: 100%;
    background-size: contain;
}

.secondary-links .get-nim::before {
    content: '';
    margin-right: 8px;
    vertical-align: text-bottom;
    background-size: 125%;
    background-image: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5139 18.4826C13.1117 18.8276 13.876 18.6228 14.2212 18.0251L18.4326 10.7307C18.4602 10.6828 18.5058 10.6477 18.5593 10.6334C18.6127 10.6191 18.6697 10.6266 18.7176 10.6544L19.6196 11.1745C19.811 11.285 20.0384 11.315 20.2519 11.2578C20.3246 11.2387 20.3943 11.2096 20.459 11.1713C20.7167 11.0183 20.8724 10.7387 20.8668 10.4391L20.7875 5.58076C20.7823 5.28816 20.6241 5.01969 20.3706 4.87347C20.1171 4.72725 19.8055 4.72472 19.5497 4.8668L15.3011 7.2251C15.0403 7.37123 14.8778 7.64586 14.8751 7.9448C14.8725 8.24373 15.0302 8.52117 15.2884 8.67184L16.1907 9.19274C16.29 9.2503 16.3241 9.37737 16.2668 9.47688L12.0556 16.7721C11.889 17.0595 11.8437 17.4015 11.9297 17.7225C12.0157 18.0434 12.2259 18.3169 12.5139 18.4826V18.4826Z" fill="white"/><path d="M10.2922 6.43794L5.8465 13.6467C5.78762 13.7428 5.66277 13.7744 5.5653 13.7177L4.87456 13.3196C4.61464 13.1696 4.29413 13.1709 4.03546 13.3231C3.77678 13.4752 3.61991 13.7547 3.62475 14.0548L3.70669 18.9133C3.71114 19.1698 3.83345 19.4099 4.03826 19.5643C4.24308 19.7187 4.50758 19.7702 4.75535 19.7038C4.82127 19.6861 4.88478 19.6604 4.94448 19.6273L9.19304 17.269C9.45347 17.1228 9.61574 16.8484 9.6184 16.5498C9.62106 16.2511 9.4637 15.9739 9.20591 15.8231L8.09263 15.181C8.04403 15.1524 8.00883 15.1056 7.99483 15.051C7.98092 14.9964 7.99003 14.9384 8.02003 14.8907L12.4224 7.74877C12.6728 7.3684 12.6965 6.88193 12.4843 6.47899C12.2721 6.07605 11.8576 5.8204 11.4023 5.81168C10.9469 5.80296 10.5229 6.04256 10.2954 6.43708L10.2922 6.43794Z" fill="white"/></svg>');
}

.secondary-links .apps::before {
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-bottom: 2px;
    vertical-align: text-bottom;
    background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M7.91139 3.22222L6.24472 0.333333C6.12583 0.126667 5.90472 0 5.66694 0H2.33361C2.09583 0 1.87583 0.127778 1.75694 0.333333L0.0891667 3.22222C-0.0297222 3.42889 -0.0297222 3.68222 0.0891667 3.88889L1.75583 6.77778C1.87472 6.98444 2.09583 7.11111 2.33361 7.11111H5.66694C5.90472 7.11111 6.12472 6.98333 6.24361 6.77778L7.91028 3.88889C8.03028 3.68333 8.03028 3.42889 7.91139 3.22222Z" fill="white"/><path d="M7.91139 12.1109L6.24472 9.22201C6.12583 9.01534 5.90472 8.88867 5.66694 8.88867H2.33361C2.09583 8.88867 1.87583 9.01645 1.75694 9.22201L0.0891667 12.1109C-0.0297222 12.3176 -0.0297222 12.5709 0.0891667 12.7776L1.75583 15.6664C1.87472 15.8731 2.09583 15.9998 2.33361 15.9998H5.66694C5.90472 15.9998 6.12472 15.872 6.24361 15.6664L7.91028 12.7776C8.03028 12.572 8.03028 12.3176 7.91139 12.1109Z" fill="white"/><path d="M15.9114 7.66656L14.2447 4.77767C14.1258 4.571 13.9047 4.44434 13.6669 4.44434H10.3336C10.0958 4.44434 9.87583 4.57211 9.75694 4.77767L8.08917 7.66656C7.97028 7.87322 7.97028 8.12656 8.08917 8.33322L9.75583 11.2221C9.87472 11.4288 10.0958 11.5554 10.3336 11.5554H13.6669C13.9047 11.5554 14.1247 11.4277 14.2436 11.2221L15.9103 8.33322C16.0303 8.12767 16.0303 7.87322 15.9114 7.66656Z" fill="white"/></g></svg>');
}

.secondary-links .settings {
    margin-left: 10px;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.6289 7.76248L18.6839 8.13665C19.4726 8.41738 19.9994 9.16402 19.9994 10.0012C19.9994 10.8384 19.4726 11.5851 18.6839 11.8658L17.6289 12.2416C17.3236 12.3503 17.0786 12.5832 16.9547 12.8826C16.8308 13.182 16.8396 13.5199 16.9789 13.8125L17.4589 14.8233C17.8176 15.5797 17.6619 16.48 17.07 17.0719C16.478 17.6639 15.5777 17.8196 14.8214 17.4608L13.8105 16.9808C13.5179 16.8416 13.18 16.8328 12.8806 16.9567C12.5812 17.0806 12.3483 17.3255 12.2397 17.6308L11.8647 18.6858C11.5835 19.4743 10.8368 20.0009 9.99968 20.0009C9.16253 20.0009 8.41584 19.4743 8.13468 18.6858L7.75968 17.6316C7.65144 17.326 7.41864 17.0807 7.11912 16.9566C6.81961 16.8325 6.48151 16.8413 6.18885 16.9808L5.17802 17.4608C4.42164 17.8196 3.52136 17.6639 2.92941 17.0719C2.33745 16.48 2.18175 15.5797 2.54052 14.8233L3.02052 13.8125C3.15978 13.5199 3.16855 13.182 3.04466 12.8826C2.92076 12.5832 2.6758 12.3503 2.37052 12.2416L1.31552 11.8666C0.526779 11.5859 0 10.8393 0 10.0021C0 9.16486 0.526779 8.41821 1.31552 8.13748L2.37052 7.76248C2.67586 7.65366 2.92082 7.4206 3.0447 7.12106C3.16858 6.82152 3.1598 6.48352 3.02052 6.19081L2.54052 5.17998C2.18175 4.4236 2.33745 3.52332 2.92941 2.93137C3.52136 2.33941 4.42164 2.18371 5.17802 2.54248L6.18885 3.02331C6.48158 3.16227 6.81945 3.17078 7.11881 3.04675C7.41816 2.92272 7.65101 2.67774 7.75968 2.37248L8.13468 1.31748C8.41584 0.528944 9.16253 0.00244141 9.99968 0.00244141C10.8368 0.00244141 11.5835 0.528944 11.8647 1.31748L12.2397 2.37165C12.3482 2.67706 12.581 2.92224 12.8803 3.04643C13.1797 3.17063 13.5177 3.16223 13.8105 3.02331L14.8214 2.54248C15.5777 2.18371 16.478 2.33941 17.07 2.93137C17.6619 3.52332 17.8176 4.4236 17.4589 5.17998L16.9789 6.19081C16.8393 6.48348 16.8304 6.82159 16.9543 7.12122C17.0782 7.42084 17.3233 7.65388 17.6289 7.76248ZM6.2987 11.5341C6.9461 13.0055 8.39219 13.9642 9.99953 13.9875C10.5249 13.9983 11.0469 13.9007 11.5329 13.7008C13.5744 12.8516 14.5435 10.5103 13.6995 8.46664C12.8315 6.44409 10.509 5.4827 8.46537 6.29997C6.42386 7.14921 5.45471 9.49046 6.2987 11.5341Z" fill="white"/></svg>');
}

x-total-amount {
    display: block;
    font-size: 2.5em;
    margin: 0.5em auto 1em auto;
}

.header-bottom {
    overflow: visible;
    padding: 0.5em 1em;
    text-align: left;
    height: 51px; /* To not collapse when backup-reminder is not displayed */
}

.backup-reminder {
    font-size: 16px;
}

.backup-reminder .action {
    color: var(--nimiq-orange);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.backup-reminder .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -24px;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    margin-right: 13px;
    flex-shrink: 0;
}

.backup-reminder .icon.words {
    background: var(--nimiq-orange);
    background-image: var(--nimiq-orange-bg);
}

.backup-reminder .icon svg {
    margin: 12px 0 -16px 12px;
}

.backup-reminder .dismiss {
    opacity: 0.5;
    cursor: pointer;
}

.backup-reminder .dismiss span {
    display: none;
}

.backup-reminder .dismiss:hover {
    opacity: 0.8;
}

.backup-reminder .dismiss:hover span {
    display: inline;
}

x-view-dashboard,
x-view-history,
x-view-settings {
    padding: 1em 0;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

x-card {
    display: block;
    width: 100%;
    max-width: 960px;
    border-radius: 0.4em;
    padding: 1em;
    margin: 0.5em;
    background: white;
    box-shadow: 0 4px 24px -8px rgba(0, 0, 0, 0.25);
}

@media (min-width: 480px) {
    x-card {
        padding: 24px ;
        margin: 16px;
    }
}

x-card h2 {
    margin-bottom: 23px;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    font-size: 13px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1em;
    opacity: 0.6;
    transition: opacity 0.5s linear 0.1s;
    font-size: 13px;
    margin-top:  80px;
}

footer a {
    text-decoration: underline;
    cursor: pointer;
}

body.preparing > * {
    visibility: hidden !important;
}

body.preparing footer {
    opacity: 0;
}


x-disclaimer-modal {
    width: 690px;
}

x-disclaimer-modal p {
    text-align: justify;
}

x-disclaimer-modal p + p {
    margin-top: 1em;
}

.waiting {
    cursor: wait;
    color: #949292 !important;
    pointer-events: none;
}

button.waiting {
    background-color: transparent;
}

x-safe-lock {
    display: block;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    padding-top: 10vh
}

x-safe-lock .material-icons {
    font-size: 120px;
    width: 1em;
    opacity: 0.3;
    margin-bottom: 0.5em;
}

x-safe-lock .patt-holder {
    margin: auto;
    margin-top: 40px;
}





nav.actions.floating-actions {
    margin-bottom: -16px;
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
    float: none;
}

.floating-btn {
    text-align: center;
    width: 96px;
    margin-top: -45px;
}

.floating-btn button {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    background-color: white;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin-left: 0;
    padding: 0;
    min-height: 0;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    transition: transform 200ms;
}

.floating-btn button:disabled {
    background: white;
    border: 1px solid transparent;
}

.floating-btn button:disabled span {
    opacity: 0.6;
}

.floating-btn button span {
    display: none;
}

.floating-btn .btn-text {
    padding-top: 8px;
    user-select: none;
    opacity: 0.8;
}

.floating-btn button:disabled + .btn-text {
    opacity: 0.6;
}

.floating-btn [new-tx] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%234463D7" d="M15,20H9V12H4.16L12,4.16L19.84,12H15V20Z" /></svg>');
}

.floating-btn [new-tx]:disabled {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%234463D7" opacity="0.6" d="M15,20H9V12H4.16L12,4.16L19.84,12H15V20Z" /></svg>');
}

.floating-btn [receive] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%239548EF" d="M9,4H15V12H19.84L12,19.84L4.16,12H9V4Z" /></svg>');
}

.floating-btn [receive]:disabled {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%239548EF" opacity="0.6" d="M9,4H15V12H19.84L12,19.84L4.16,12H9V4Z" /></svg>');
}

.floating-btn [contacts] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%2300E7B8" d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm6 12H6v-1c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.floating-btn [contacts] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%2324BDB6" d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm6 12H6v-1c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.floating-btn button:hover {
    transform: translateY(2px);
}

.floating-btn button:hover ~ .btn-text {
    opacity: 1;
}

@media (max-width: 1000px) {
    .header-top {
        padding-right: 1em;
    }

    x-view-dashboard {
        flex-direction: column;
    }

    x-view-dashboard > * {
        max-width: calc(100% - 32px) !important;
    }
}

@media (max-width: 690px) {
    .header-top {
        height: 108px;
    }

    .secondary-links {
        margin-top: 2rem;
    }

    .secondary-links a {
        margin-left: 12px;
    }

    .secondary-links a:first-child {
        margin-left: 0;
    }

    v-wallet-selector [active-wallet-label],
    v-wallet-selector [active-wallet-label-mobile] {
        padding: 14px 8px;
        margin-left: 6px;
    }

    .secondary-links .settings {
        margin-left: 6px;
    }
}

/**
    * The point at which the main nav and the action buttons
    * in the header don't fit next to each other anymore
*/
@media (max-width: 730px) {
    .header-top {
        padding: 1em;
    }

    x-total-amount {
        margin: 0.5em auto;
    }

    nav.actions.floating-actions {
        justify-content: center;
        padding-right: 0;
    }

    .floating-btn {
        margin: 16px 8px 0;
        width: auto;
    }

    .floating-btn button {
        width: 120px !important;
        height: 40px !important;
        border-radius: 20px;
        min-height: 40px;
        padding: 0 24px;
        box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
        background-position: 12px center !important;
        line-height: 38px;
        padding-left: 40px;
    }

    .floating-btn button span {
        display: inline;
        color: #3b3b3b;
        /* font-size: 13px; */
        font-weight: normal;
        text-transform: none;
        letter-spacing: 0;
        font-family: inherit;
    }

    .floating-btn .btn-text {
        display: none;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0;
    }

    x-total-amount {
        font-size: 2em;
    }

    .floating-btn button[contacts] {
        width: 40px !important;
        padding: 0;
        background-position: center !important;
    }

    .floating-btn button[contacts] span {
        display: none;
    }

    x-view-dashboard > * {
        max-width: calc(100% - 1em) !important;
    }
}

@media (max-width: 450px) {
    v-wallet-selector #vue-wallet-menu {
        top: 4.5rem;
    }

    .header-bottom {
        padding: 0 1em;
        height: 56px;
    }

    .backup-reminder .icon {
        margin-bottom: -8px;
    }
}
