@import '/secure-elements/x-router/x-router.css';
@import '/elements/x-accounts/x-accounts.css';
@import '/elements/x-transactions/x-transactions.css';
@import '/secure-elements/x-toast/x-toast.css';
@import '/elements/x-amount/x-amount.css';
@import '/elements/x-network-indicator/x-network-indicator.css';
@import '/elements/x-send-transaction/x-send-transaction-modal.css';
@import '/elements/x-request-link/x-receive-request-link-modal.css';
@import '/elements/x-request-link/x-create-request-link-modal.css';
@import '../settings/x-settings.css';
@import '/elements/x-education-slides/x-education-slides.css';
@import '/elements/x-ledger-ui/x-ledger-ui-modal.css';
@import './x-upgrade-modal.css';
@import '/secure-elements/x-loader/x-loader.css';

html,
body {
    overflow-x: hidden;
    background: #fafafa;
    display: initial;
}

.header-warning {
    padding: 15px;
    background: var(--warning-color);
    color: #3b3b3b;
    text-align: center;
    /* font-weight: 600; */
}

.header-warning:not(.display-none) + .header-warning {
    border-top: 1px solid #333;
}

.header-warning .close-warning {
    float: right;
    color: #3b3b3b;
    cursor: pointer;
}

header {
    width: 100%;
    background: var(--primary-background-toright);
    text-align: center;
    padding: 0 0.5em;
    /* border-bottom: 3px solid var(--success-color); */
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.content-width {
    max-width: var(--max-content-width);
    margin: 0 auto;
}

.header-top {
    padding: 1em 1.8em;
    overflow: auto;
}

.nimiq-app-name {
    float: left;
}

.safe-logo {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2352 439"><path fill="%23ffc107" d="M389 21c-6-12-23-21-36-21H145c-13 0-29 9-36 21L5 199c-6 11-6 30 0 41l104 178c7 12 23 21 36 21h208c14 0 30-9 36-21l104-178c7-11 7-30 0-41zM273 347v42h-39v-40c-24-3-52-13-70-30l25-39c21 15 38 23 57 23 23 0 33-9 33-28 0-40-106-39-106-111 0-38 23-65 61-73V51h39v40c25 3 44 16 59 32l-29 33c-15-13-27-20-44-20-19 0-29 8-29 26 0 37 105 34 105 110 0 37-21 67-62 75z"/><path fill="white" d="M2013 85v104h36l16-1 13-6a27 27 0 0 0 11-23c0-7-2-13-5-17-4-4-9-7-15-8v-1c5-1 8-4 11-9 3-4 4-9 4-14l-3-12c-2-3-4-6-8-8l-12-4-15-1zm96 0v104h64v-15h-46v-31h38v-16h-38v-27h45V85zm76 0v15h31v89h18v-89h30V85zm111 0l-34 104h19l8-28h35l9 28h19l-34-104zm-264 14h13c7 0 12 1 16 3 3 2 5 6 5 11s-2 8-5 11c-4 3-9 4-16 4h-13zm275 0a4083 4083 0 0 1 10 35l3 12h-26l3-12 5-17zm-1040 30a71 71 0 0 0-71 52 129 129 0 0 0-1 72 74 74 0 0 0 33 46c6 5 15 8 24 10 6 13 15 23 27 32 11 8 26 12 43 12a75 75 0 0 0 28-5l-5-23-9 2a60 60 0 0 1-34-4c-7-3-13-8-17-15 9-2 17-6 24-11 8-5 14-11 19-19 5-7 9-16 12-26 2-10 4-21 4-33 0-14-2-27-6-38-3-11-9-21-16-28-6-8-15-14-24-18s-20-6-31-6zm219 0c-8 0-16 1-23 4a50 50 0 0 0-31 26c-3 6-4 12-4 19s1 12 3 17 4 10 8 13l11 10 13 7 24 10a156 156 0 0 1 19 10l6 6 2 10c0 6-3 12-8 16s-13 6-23 6c-8 0-16-2-24-5-8-4-15-9-21-15l-18 21a89 89 0 0 0 89 22c8-3 14-7 20-11a49 49 0 0 0 14-54c-2-5-4-9-8-13-3-3-6-7-11-10l-14-7-23-10a623 623 0 0 1-20-9l-6-7-2-8c0-7 2-12 7-15 5-4 12-6 20-6s15 1 21 4l17 11 16-20c-7-7-15-12-24-16-10-4-20-6-30-6zm-810 3v175h29v-77l-1-29-3-29h1l18 37 55 98h31V132h-29v76a360 360 0 0 0 4 59h-1l-18-37-55-98zm175 0v175h31V132zm75 0v175h28v-80a181 181 0 0 0-2-28 332 332 0 0 0-2-27h1l14 40 28 78h19l28-78 14-40h2a564 564 0 0 1-3 27l-1 15v93h28V132h-35l-30 86a385 385 0 0 0-11 34h-1a637 637 0 0 1-11-34l-31-86zm198 0v175h31V132zm487 0l-56 175h31l14-47h58l14 47h32l-56-175zm115 0v175h31v-73h64v-26h-64v-50h75v-26zm136 0v175h108v-26h-77v-52h63v-26h-63v-45h74v-26zm170 10h15c8 0 14 1 18 4 4 2 6 6 6 12s-2 10-6 13-10 4-18 4h-15zm-765 14c14 0 25 6 33 17s12 26 12 46c0 10-1 19-3 27s-5 15-9 21a39 39 0 0 1-66 0c-4-6-7-13-9-21s-3-17-3-27c0-20 4-35 12-46s19-17 33-17zm361 0h1a6816 6816 0 0 1 16 58l6 21h-44l6-21 8-28z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 182px;
}

.safe-logo [logo-link] {
    display: block;
    width: 34px;
    height: 30px;
}

.secondary-links {
    float: right;
}

.secondary-links a {
    display: inline-block;
    margin-left: 0.5em;
}

x-total-amount {
    display: block;
    font-size: 2.5em;
    margin: 0.5em auto 1em auto;
}

.header-bottom {
    overflow: hidden;
    padding: 0.5em 1em;
}

nav.main {
    float: left;
    height: 44px;
}

nav.main a {
    display: inline-block;
    margin: 18px 1em 0 0.5em;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.16em;
    padding: 0 4px 15px;
    font-weight: bold;
    opacity: 0.6;
    line-height: 16px;
}

x-view-dashboard,
x-view-history,
x-view-settings {
    padding: 1em 0.5em;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

nav.main a[x-href].current {
    opacity: 1;
    border-bottom: 2px solid var(--success-color);
}

x-card {
    display: block;
    width: 100%;
    max-width: 960px;
    border-radius: 0.4em;
    padding: 1em;
    margin: 0.5em;
    background: white;
    box-shadow: 0 4px 24px -8px rgba(0, 0, 0, 0.25);
}

@media (min-width: 480px) {
    x-card {
        padding: 24px ;
        margin: 16px;
    }
}

x-card h2 {
    margin-bottom: 23px;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    font-size: 13px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1em;
    opacity: 0.6;
    transition: opacity 0.5s linear 0.1s;
    font-size: 13px;
    margin-top:  80px;
}

footer a {
    text-decoration: underline;
    cursor: pointer;
}

body.preparing > * {
    visibility: hidden !important;
}

body.preparing footer {
    opacity: 0;
}


x-disclaimer-modal {
    width: 690px;
}

x-disclaimer-modal p {
    text-align: justify;
}

x-disclaimer-modal p + p {
    margin-top: 1em;
}

nav button {
    width: 136px !important;
    margin-left: 16px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.waiting {
    cursor: wait;
    color: #949292 !important;
    pointer-events: none;
}

button.waiting {
    background-color: transparent;
}

x-safe-lock {
    display: block;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    padding-top: 10vh
}

x-safe-lock .material-icons {
    font-size: 120px;
    width: 1em;
    opacity: 0.3;
    margin-bottom: 0.5em;
}

x-safe-lock .patt-holder {
    margin: auto;
    margin-top: 40px;
}





nav.actions.floating-actions {
    margin-bottom: -16px;
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
    float: none;
}

.floating-btn {
    text-align: center;
    width: 96px;
    margin-top: -45px;
}

.floating-btn button {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    background-color: white;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin-left: 0;
    padding: 0;
    min-height: 0;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.floating-btn button:disabled {
    background: white;
    border: 1px solid transparent;
}

.floating-btn button:disabled span {
    opacity: 0.6;
}

.floating-btn button span {
    display: none;
}

.floating-btn .btn-text {
    padding-top: 8px;
    user-select: none;
}

.floating-btn button:disabled + .btn-text {
    opacity: 0.6;
}

.floating-btn [new-tx] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%234463D7" d="M15,20H9V12H4.16L12,4.16L19.84,12H15V20Z" /></svg>');
}

.floating-btn [new-tx]:disabled {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%234463D7" opacity="0.6" d="M15,20H9V12H4.16L12,4.16L19.84,12H15V20Z" /></svg>');
}

.floating-btn [receive] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%239548EF" d="M9,4H15V12H19.84L12,19.84L4.16,12H9V4Z" /></svg>');
}

.floating-btn [receive]:disabled {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%239548EF" opacity="0.6" d="M9,4H15V12H19.84L12,19.84L4.16,12H9V4Z" /></svg>');
}

.floating-btn [contacts] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%2300E7B8" d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm6 12H6v-1c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.floating-btn [contacts] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%2324BDB6" d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm6 12H6v-1c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

@media (max-width: 1000px) {
    x-view-dashboard {
        flex-direction: column;
    }

    x-view-dashboard > * {
        max-width: calc(100% - 32px) !important;
    }
}

@media (max-width: 690px) {
    nav.main a {
        margin: 18px 0.5em 0;
    }
}

@media (max-width: 660px) {
    nav.main a {
        margin: 18px 0.1em 0;
    }
}

/**
    * The point at which the main nav and the action buttons
    * in the header don't fit next to each other anymore
*/
@media (max-width: 620px) {
    x-total-amount {
        margin: 0.5em auto;
    }
    nav.main {
        float: none;
    }

    nav.main a {
        line-height: 17px;
    }

    nav.actions.floating-actions {
        justify-content: center;
        padding-right: 0;
    }

    .floating-btn {
        margin: 16px 8px 0;
        width: auto;
    }

    .floating-btn button {
        width: 120px !important;
        height: 40px !important;
        border-radius: 20px;
        min-height: 40px;
        padding: 0 24px;
        box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
        background-position: 12px center !important;
        line-height: 38px;
        padding-left: 40px;
    }

    .floating-btn button span {
        display: inline;
        color: #3b3b3b;
        /* font-size: 13px; */
        font-weight: normal;
        text-transform: none;
        letter-spacing: 0;
        font-family: inherit;
    }

    .floating-btn .btn-text {
        display: none;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0;
    }

    x-total-amount {
        font-size: 2em;
    }

    nav.main a {
        margin: 20px 0 0 0.5em;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 0 4px 14px;
        line-height: 15px;
    }

    .floating-btn button[contacts] {
        width: 40px !important;
        padding: 0;
        background-position: center !important;
    }

    .floating-btn button[contacts] span {
        display: none;
    }

    x-view-dashboard > * {
        max-width: calc(100% - 1em) !important;
    }
}
