@import '/secure-elements/x-router/x-router.css';
@import '/elements/x-accounts/x-accounts.css';
@import '/elements/x-transactions/x-transactions.css';
@import '/secure-elements/x-toast/x-toast.css';
@import '/elements/x-amount/x-amount.css';
@import '/secure-elements/nimiq-logo/nimiq-logo.css';
@import '/elements/x-network-indicator/x-network-indicator.css';
@import '/elements/x-send-transaction/x-send-transaction-modal.css';
@import '/elements/x-request-link/x-receive-request-link-modal.css';
@import '/elements/x-request-link/x-create-request-link-modal.css';
@import '../settings/x-settings.css';
@import '/elements/x-education-slides/x-education-slides.css';
@import '/elements/x-ledger-ui/x-ledger-ui-modal.css';
@import './x-upgrade-modal.css';

html,
body {
    overflow-x: hidden;
    background: #fafafa;
    display: initial;
}

.header-warning {
    padding: 15px;
    background: var(--warning-color);
    color: #3b3b3b;
    text-align: center;
    /* font-weight: 600; */
}

.header-warning .close-warning {
    float: right;
    color: #3b3b3b;
    cursor: pointer;
}

header {
    width: 100%;
    background: var(--primary-background-toright);
    text-align: center;
    padding: 0 0.5em;
    /* border-bottom: 3px solid var(--success-color); */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.content-width {
    max-width: var(--max-content-width);
    margin: 0 auto;
}

.header-top {
    padding: 1em 1.8em;
    overflow: auto;
}

.nimiq-app-name {
    float: left;
}

.secondary-links {
    float: right;
}

.secondary-links a {
    display: inline-block;
    margin-left: 0.5em;
}

x-total-amount {
    display: block;
    font-size: 2.5em;
    margin: 0.5em auto 1em auto;
}

.header-bottom {
    overflow: hidden;
    padding: 0.5em 1em;
}

nav.main {
    float: left;
    height: 44px;
}

nav.main a {
    display: inline-block;
    margin: 18px 1em 0 0.5em;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.16em;
    padding: 0 4px 15px;
    font-weight: bold;
    opacity: 0.6;
    line-height: 16px;
}

x-view-dashboard,
x-view-history,
x-view-settings {
    padding: 1em 0.5em;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

nav.main a[x-href].current {
    opacity: 1;
    border-bottom: 2px solid var(--success-color);
}

x-card {
    display: block;
    width: 100%;
    max-width: 960px;
    overflow: hidden;
    border-radius: 0.4em;
    padding: 1em;
    margin: 0.5em;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

x-card h2 {
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    font-size: 13px;
    font-weight: bold;
}

x-card hr {
    border: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    margin: 0;
}

@media (min-width: 480px) {
    x-card {
        padding: 24px ;
        margin: 16px;
    }
}

footer {
    text-align: center;
    padding: 1em;
    opacity: 0.6;
    transition: opacity 0.5s linear 0.1s;
    font-size: 13px;
    margin-top:  80px;
}

footer a {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 480px) {
    header {
        padding: 0;
    }

    x-total-amount {
        font-size: 2em;
    }

    nav.main a {
        margin: 20px 0 0 0.5em;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 0 4px 14px;
        line-height: 15px;
    }
}

/* The point at which the main nav and the action buttons
   in the header don't fit next to each other anymore */
@media (max-width: 620px) {
    x-total-amount {
        margin: 0.5em auto;
    }

    nav.main {
        float: none;
    }
}

body.preparing>* {
    visibility: hidden !important;
}

body.preparing footer {
    opacity: 0;
}


x-disclaimer-modal {
    width: 690px;
}

x-disclaimer-modal p {
    text-align: justify;
}

x-disclaimer-modal p + p {
    margin-top: 1em;
}

nav button {
    width: 136px !important;
    margin-left: 16px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.waiting {
    cursor: wait;
    color: #949292 !important;
    pointer-events: none;
}

button.waiting {
    background-color: transparent;
}

x-safe-lock {
    display: block;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    padding-top: 10vh
}

x-safe-lock .material-icons {
    font-size: 120px;
    width: 1em;
    opacity: 0.3;
    margin-bottom: 0.5em;
}

x-safe-lock .patt-holder {
    margin: auto;
    margin-top: 40px;
}





nav.actions.floating-actions {
    margin-bottom: -16px;
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
    float: none;
}

.floating-btn {
    text-align: center;
    width: 96px;
    margin-top: -45px;
}

.floating-btn button {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    background-color: white;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin-left: 0;
    padding: 0;
    min-height: 0;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.floating-btn button span {
    display: none;
}

.floating-btn .btn-text {
    padding-top: 8px;
    user-select: none;
}

h1 {
    width: 100%;
    text-align: left;
    padding: 8px 38px;
}

.floating-btn [new-tx] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%234463D7" d="M15,20H9V12H4.16L12,4.16L19.84,12H15V20Z" /></svg>') !important;
}

.floating-btn [receive] {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%239548EF" d="M9,4H15V12H19.84L12,19.84L4.16,12H9V4Z" /></svg>') !important;
}

@media (max-width: 620px) {
    nav.actions.floating-actions {
        justify-content: center;
        padding-right: 0;
    }

    .floating-btn {
        margin: 16px 8px 0;
        width: auto;
    }

    .floating-btn button {
        width: auto !important;
        height: 40px !important;
        border-radius: 20px;
        min-height: 40px;
        padding: 0 24px;
        box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
        background-position: 10px center !important;
        line-height: 38px;
        padding-left: 40px;
    }

    .floating-btn button span {
        display: inline;
        color: #3b3b3b;
        /* font-size: 13px; */
        font-weight: normal;
        text-transform: none;
        letter-spacing: 0;
        font-family: inherit;
    }

    .floating-btn .btn-text {
        display: none;
    }
}
