@import "/libraries/nimiq-style/nimiq-style.css";
@import "../x-toast/x-toast.css";

x-wallet-backup-import {
    display: flex;
    width: 320px;
    min-height: 400px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

x-wallet-backup-import-icon {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="128.82292mm" height="208.19792mm" viewBox="0 0 128.82292 208.19792"><g transform="translate(-40.66592 -26.591513)"><rect width="128.32292" height="207.69792" x="40.91592" y="26.841513" ry="3.609446" fill="none" stroke="#fff" stroke-width=".5"/><rect width="49.290455" height="49.314075" x="80.461685" y="170.33073" ry="3.6094458" fill="none" stroke="#fff" stroke-width=".5"/><rect width="97.990326" height="4.9136853" x="56.034969" y="151.19568" ry=".68307447" fill="none" stroke="#fff" stroke-width=".5"/><path d="M127.84937 70.837409l15.71464 27.218563c1.42004 2.459608 1.42004 5.489928 0 7.949518l-15.71464 27.21857c-1.42004 2.45959-4.04438 3.97476-6.88448 3.97476H89.535631c-2.840084 0-5.46443-1.51517-6.884474-3.97476l-15.714644-27.21857c-1.420042-2.45959-1.420042-5.48991 0-7.949518l15.714644-27.218563c1.420044-2.459585 4.04439-3.974752 6.884474-3.974752h31.429259c2.8401 0 5.46444 1.515167 6.88448 3.974752z" fill="none" stroke="#fff" stroke-width=".5"/><g aria-label="WALLET BACKUP" style="line-height:1.25" font-weight="400" font-size="5.29166698" font-family="Cantarell" letter-spacing=".00264583" word-spacing="0" fill="#fff" stroke-width=".26458332"><path d="M85.069884 35.849988l1.153584 3.661834h.465667l.899583-3.153834.968375 3.153834h.470958l1.095375-3.661834h-.497416l-.830792 3.100917-.968375-3.100917h-.47625l-.894292 3.100917-.889-3.100917zM93.272547 39.511822l-1.248833-3.661834h-.550334l-1.243541 3.661834h.455083l.354542-1.074209h1.386416l.354542 1.074209zm-1.539875-3.20675l.5715 1.74625h-1.143zM93.781622 35.849988v3.661834h2.084917v-.386292H94.22083v-3.275542zM96.368089 35.849988v3.661834h2.084917v-.386292h-1.645708v-3.275542zM98.954557 39.511822h2.148413v-.386292h-1.709204v-1.370542h1.566334v-.386291h-1.566334V36.23628h1.709204v-.386292h-2.148413zM101.38186 35.849988v.386292h1.22238v3.275542h.43921V36.23628h1.22766v-.386292zM108.10674 36.786613c0 .418042-.34395.582084-.74083.582084h-.6985V36.23628h.75142c.46037 0 .68791.174625.68791.550333zm.29105 1.651c0 .518584-.40746.687917-.97896.687917h-.75142v-1.370542h.75142c.52916 0 .97896.148167.97896.682625zm-.32809-.941916c.29634-.142875.46038-.381.46038-.767292 0-.587375-.45509-.878417-.95779-.878417h-1.34409v3.661834h1.397c.68263 0 1.2065-.296334 1.2065-1.000125 0-.777875-.48683-.963084-.762-1.016zM112.15297 39.511822l-1.24884-3.661834h-.55033l-1.24354 3.661834h.45508l.35454-1.074209h1.38642l.35454 1.074209zm-1.53988-3.20675l.5715 1.74625h-1.143zM115.32375 39.305447l-.16933-.365125c-.22225.142875-.53975.238125-.87313.238125-.84667 0-1.33879-.645584-1.33879-1.497542 0-.851958.49212-1.518708 1.33879-1.518708.33338 0 .67733.105833.87313.238125l.16933-.365125c-.23283-.142875-.60854-.259292-1.04246-.259292-1.05833 0-1.778.846667-1.778 1.905 0 1.058333.71967 1.883833 1.778 1.883833.35454 0 .73554-.08467 1.04246-.259291zM116.00299 35.849988v3.661834h.4392V38.30003l.59267-.693208 1.17475 1.905h.49742l-1.37584-2.243667 1.23825-1.418167h-.52387l-1.60338 1.825625v-1.825625zM120.55894 39.564738c1.04246 0 1.40759-.661458 1.40759-1.524v-2.19075h-.43921v2.301875c0 .497417-.26458 1.026584-.96838 1.026584-.70379 0-.96837-.518584-.96837-1.026584v-2.301875h-.43392v2.19075c0 .862542.35984 1.524 1.40229 1.524zM125.0576 36.945363c0-.783166-.42333-1.095375-1.12183-1.095375h-1.33879v3.661834h.43921v-1.508125h.89958c.64558 0 1.12183-.211667 1.12183-1.058334zm-1.27.672042h-.75141V36.23628h.75141c.48155 0 .8255.08467.8255.682625 0 .624417-.34925.6985-.8255.6985z"/></g><rect width="6.9950452" height="6.9017372" x="83.966431" y="173.75392" ry="1.0538023" fill="none" stroke="#fff" stroke-width=".5"/><rect width="6.9950452" height="6.9017372" x="119.32869" y="173.81645" ry="1.0538023" fill="none" stroke="#fff" stroke-width=".5"/><rect width="6.9950452" height="6.9017372" x="83.852364" y="209.19016" ry="1.0538023" fill="none" stroke="#fff" stroke-width=".5"/></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    height: 420px;
    max-height: 75%;
    width: 100%;
    transition: transform 300ms;
    opacity: 0.6;
}

x-wallet-backup-import:hover x-wallet-backup-import-icon {
    transform: scale(1.1);
}

x-wallet-backup-import input {
    opacity: 0;
    position: absolute;
    top: -10000px;
}

x-wallet-backup-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    z-index: 2;
}

[active] x-wallet-backup-backdrop {
    display: flex;
}

/*background: url('data:image/svg+xml,<svg width="400" height="647" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><rect fill-opacity=".3" width="400" height="647" rx="16.49"/><rect fill-opacity=".3" x="123.03" y="447.07" width="153.95" height="153.86" rx="16.49"/><path d="M271.96 136.36l43.45 75.21a32.98 32.98 0 0 1 0 33l-43.4 75.16a32.98 32.98 0 0 1-28.56 16.5l-86.87-.03a32.98 32.98 0 0 1-28.55-16.48L84.58 244.5a32.98 32.98 0 0 1 0-33l43.4-75.16a32.98 32.98 0 0 1 28.56-16.49l86.87.02a32.98 32.98 0 0 1 28.55 16.49zM37.02 393.18h325.95v14.26H37.02zm96.89-360.05h132.18v14.26H133.91z" fill-opacity=".3"/></g></svg>');*/
