@import '../x-mnemonic-phrase/x-recovery-phrase.css';
@import '../x-input/x-input.css';
@import '../x-success-mark/x-success-mark.css';

x-mnemonic-input {
    text-align: center;
    line-height: 32px;
    will-change: transform;
    display: block;
}

x-mnemonic-input.shake {
    border-color: var(--error-color);
}

x-mnemonic-input>form {
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.8s ease, opacity 0.5s ease;
    will-change: transform, opacity;
}

x-mnemonic-input.recovered {
    background: none;
    border: none;
}

x-mnemonic-input.recovered:before {
    opacity: 0;
}

x-mnemonic-input.recovered>form {
    transform: scale(0);
    opacity: 0;
}

x-mnemonic-input-field {
    flex: 1 0 20%;
    margin: 2px;
}

x-mnemonic-input input[type="text"] {
    background-color: rgba(255, 255, 255, 0.05);
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-family: inherit;
    line-height: 2;
    font-size: 15px;
    padding: 0px;
    border-radius: 2px;
}

x-mnemonic-input input[type="text"]:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

x-mnemonic-input input[type="text"]::-webkit-calendar-picker-indicator {
    display: none;
}

x-mnemonic-input-field.complete input[type="text"] {
    border-bottom-color: var(--success-color);
}

x-mnemonic-input-success {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transform: scale(0.5);
    transition: transform 0.8s ease, opacity 0.5s ease;
    will-change: transform, opacity;
    transition-delay: 300ms;
}

.recovered x-mnemonic-input-success {
    opacity: 1;
    transform: scale(1);
}

datalist {
    display: none;
}

.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);

    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    box-sizing: border-box;
}

.autocomplete-suggestion {
    position: relative;
    padding: 0 .1em;
    line-height: 2.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--secondary-text-color);
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.autocomplete-suggestion:last-child {
    border-bottom: none;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: var(--primary-color);
    color: black;
}

.autocomplete-suggestion.selected {
    background: #cce5ff;
}
