/* Numpad */

x-numpad {
    padding-bottom: 16px;
    text-align: center;
    touch-action: manipulation;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

x-numpad>* {
    width: 32%;
    box-sizing: border-box;
    padding: 8px;
    display: inline-block;
    background: none;
    color: white;
    border: none;
    box-shadow: none;
    border-radius: 0;
    height: auto;
    font-size: 32px;
    line-height: 48px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
    pointer-events: all;
    transition: opacity 0.7s;
}

x-numpad.max-decimals-reached > *:not([delete]),
x-numpad.has-dot > [dot] {
    opacity: 0.3;
    pointer-events: none;
}
