@import '/libraries/patternLock/patternLock.css';

x-settings {
    width: 100%;
    max-width: 480px;
}

x-settings x-card {
    width: auto;
}

x-settings .setting {
    display: block;
    padding: 1em;
    cursor: pointer;
    border-radius: 4px;
}

x-settings .setting:hover {
    background: rgba(0, 0, 0, 0.075);
}

x-settings small {
    display: block;
    opacity: 0.6;
    margin-top: 8px;
}

x-settings input[type="checkbox"] {
    float: right;
}
