@import '/libraries/patternLock/patternLock.css';

x-settings {
    width: 100%;
    max-width: 480px;
}

x-settings .setting {
    display: block;
    padding: 1.2em 0.5em;
    cursor: pointer;
}

x-settings .setting:hover {
    background: rgba(0, 0, 0, 0.1);
}

x-settings small {
    display: block;
    opacity: 0.6;
    margin-top: 8px;
}

x-settings input[type="checkbox"] {
    float: right;
}
