@import '../x-address/x-address.css';
@import '../x-amount/x-amount.css';
@import '/secure-elements/x-loading-animation/x-loading-animation.css';
@import '/elements/x-popup-menu/x-popup-menu.css';
@import './x-transaction-modal.css';

x-transactions {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: -2.8em;
}

x-transactions a[secondary] {
    padding: 1em;
    margin-bottom: -1em;
    margin-top: 5px;
}

x-transactions-list {
    display: table;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
}

x-transactions-list x-loading-animation {
    margin: 0 auto;
    margin-top: 2em;
    display: none;
}

x-transactions-list x-loading-animation + h2 {
    text-align: center;
}

x-transaction {
    display: table-row;
    padding: 8px 0;
    animation: from-right 500ms;
    animation-fill-mode: backwards; /* Apply the animation's opacity: 0 when the animation property is applied */
    cursor: pointer;
}

x-transaction.removed,
x-transaction.expired {
    background: var(--warning-color);
}

x-transaction > * {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    display: table-cell !important;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

x-transaction > *:first-child {
    padding-left: 8px;
}

x-transaction > *:last-child {
    padding-right: 8px;
}

x-transaction:last-child > * {
    border-bottom: none;
}

x-transaction:nth-child(1) { animation-delay: 0.0s }
x-transaction:nth-child(2) { animation-delay: 0.1s }
x-transaction:nth-child(3) { animation-delay: 0.2s }
x-transaction:nth-child(4) { animation-delay: 0.3s }
x-transaction:nth-child(5) { animation-delay: 0.4s }
x-transaction:nth-child(6) { animation-delay: 0.5s }
x-transaction:nth-child(7) { animation-delay: 0.6s }
x-transaction:nth-child(8) { animation-delay: 0.7s }
x-transaction:nth-child(9) { animation-delay: 0.8s }
x-transaction:nth-child(10){ animation-delay: 0.9s }

x-transactions.no-animation x-transaction {
    animation: none !important;
    animation-delay: 0s !important;
}

x-transaction:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

x-transaction:last-child {
    border-bottom: 1px solid transparent;
}

x-transaction.removed .timestamp,
x-transaction.expired .timestamp {
    font-weight: bold;
}

x-transaction x-identicon {
    width: 66px;
    height: 50px;
    padding: 0 8px;
}

/* Responsiveness */
@media (max-width: 600px) {
    x-transaction .label {
        display: none !important;
    }
}

x-transaction.incoming .label[recipient],
x-transaction.outgoing .label[sender],
x-transaction.transfer .label {
    font-weight: bold;
}

x-transaction .timestamp {
    /* text-transform: uppercase; */
}

x-transaction x-amount {
    text-align: right;
    font-size: 1.4em;
}

x-transaction.removed x-currency-nim,
x-transaction.expired x-currency-nim {
    text-decoration: line-through;
}

@media (max-width: 768px) {
    x-transaction x-amount {
        font-size: 1.2em;
    }

    x-transaction x-amount .rest-decimals {
        display: none;
    }

    x-transaction x-amount .ticker {
        display: block;
    }
}

@media (max-width: 480px) {
    x-transaction x-amount {
        font-size: 1.1em;
    }
}

@media (max-width: 350px) {
    x-transaction x-amount {
        font-size: 1em;
    }
}

/* Responsiveness */
@media (min-width: 480px) {
    x-transaction {
        padding: 8px 16px;
    }
}

x-transactions-list x-no-transactions {
	font-size: 16px;
	display: block;
	padding: 1.5em;
	text-align: center;
	opacity: 0.6;
}

x-transactions-list x-no-transactions h1.material-icons {
    display: block;
    font-size: 120px;
    opacity: 0.3;
    margin-bottom: 0.1em;
}

x-paginator {
    display: block;
    text-align: center;
}

x-paginator button {
    display: inline;
}
