@import './lib/nimiq-style/nimiq-style.css';
@import '../node_modules/@nimiq/style/nimiq-style.min.css';
@import './elements/x-safe.css';
@import './elements/browser-warning/browser-warning.css';

body {
    font-size: 2rem;
}

#app {
    width: 100%;
}

iframe {
    display: none;
}
