@import '/library/nimiq-style/nimiq-style.css';

.state-loading view-loading {
    opacity: 1;
    background: var(--primary-background);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><style>@keyframes dash-animation { to { transform: rotate(240deg) translateZ(0); } } #circle { animation: 3s dash-animation infinite linear; transform: rotate(-120deg) translateZ(0); transform-origin: center; }</style><defs><clipPath id="hexClip"><path clip-rule="evenodd" d="M16 4.29h32L64 32 48 59.71H16L0 32zm4.62 8h22.76L54.76 32 43.38 51.71H20.62L9.24 32z"/></clipPath></defs><path fill-rule="evenodd" d="M16 4.29h32L64 32 48 59.71H16L0 32zm4.62 8h22.76L54.76 32 43.38 51.71H20.62L9.24 32z" fill="#fff" opacity=".2"/><g clip-path="url(#hexClip)"><circle id="circle" cx="32" cy="32" r="16" fill="none" stroke-width="32" stroke="#F6AE2D" stroke-dasharray="16.666 84.666"/></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
    z-index: 1;
}
